@use '../design/variables.scss' as *;
@use '../shared/variables.scss' as *;

$-name: '#{$namespace}-ease';

@mixin -start {
  opacity: 0%;
  transform: scale(0.9);
}

@mixin -end {
  opacity: 100%;
  transform: scale(1);
}

.#{$-name} {
  @at-root {
    &-enter-active {
      animation: {
        name: #{$-name}-in;
        duration: get-css-var('transition-duration');
      }
    }

    &-leave-active {
      animation: {
        name: #{$-name}-out;
        duration: get-css-var('transition-duration');
      }
    }
  }
}

@keyframes #{$-name}-in {
  0% {
    @include -start;
  }

  100% {
    @include -end;
  }
}

@keyframes #{$-name}-out {
  0% {
    @include -end;
  }

  100% {
    @include -start;
  }
}
