.DS_Store
node_modules
dist
temp
.dev
coverage
/icons
/es
/lib
/css
/themes

package-lock.json
yarn.lock
pnpm-lock.yaml

__unconfig_vite.config*

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
