{
  "src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "yarn run lint"
  ],
  "src/**/*.scss": [
    "yarn run lint:style"
  ],
  "src/**/*.vue": [
    "yarn run lint:style",
    "prettier --write",
    "yarn run lint"
  ]
}
