@use 'sass:map';

@use '../design' as *;
@use './icon.scss';

$types: info success warning error;

$alert: () !default;
$alert: map.merge(
  (
    bg-color: get-css-var('fill-color-background'),
    b-color: get-css-var('border-color-base'),
    border: get-css-var('border-shape') get-css-var('alert-b-color'),
    radius: get-css-var('border-radius-base'),
    icon-color: get-css-var('content-color-primary'),
    text-color: get-css-var('content-color-base'),
    title-font-size: get-css-var('font-size-primary'),
    title-color: get-css-var('content-color-primary'),
    close-color: get-css-var('content-color-placeholder'),
    close-color-hover: get-css-var('content-color-normal')
  ),
  $alert
);

.vxp-alert {
  &-vars {
    @include define-preset-values('alert', $alert);
  }

  @mixin define-alert-style($style-map) {
    @include define-preset-style('alert', $style-map);
  }

  @include basis;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.6em 1em;
  margin-bottom: 1em;
  background-color: get-css-var('alert-bg-color');
  border: get-css-var('alert-border');
  border-radius: get-css-var('alert-radius');

  &--has-title {
    padding: 0.8em 1em;
  }

  &--has-icon {
    padding-left: 3.2em;
  }

  &--has-icon#{&}--has-title {
    padding-left: 4.2em;
  }

  &--closable {
    padding-right: 2.2em;
  }

  &--no-border {
    border: 0;
  }

  &--banner {
    margin: 0;
    border: 0;
    border-radius: 0;
  }

  &--colorful-text {
    &,
    .vxp-icon {
      color: get-css-var('alert-text-color');
    }
  }

  &__title {
    margin-bottom: 0.3em;
    font-size: get-css-var('alert-title-font-size');
    color: get-css-var('alert-title-color');
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 1.2em;
    display: flex;
    align-items: center;
    margin-top: 1px;
    transform: translateY(-50%);

    &,
    .vxp-icon {
      color: get-css-var('alert-icon-color');
    }
  }

  &--has-title &__icon {
    top: 1.6em;
    left: 1.6em;
    transform: scale(2);
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 0.8em;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: get-css-var('transition-color');
    transform: translateY(-50%);

    &,
    .vxp-icon {
      color: get-css-var('alert-close-color');
    }

    &:hover {
      &,
      .vxp-icon {
        color: get-css-var('alert-close-color-hover');
      }
    }
  }

  &--has-title &__close {
    top: 0.6em;
    transform: none;
  }

  @each $type in $types {
    $color: if($type == 'info', 'primary', $type);

    &--#{$type} {
      @include define-alert-style((
        bg-color: 'color' $color 'light-9',
        b-color: 'color' $color 'light-5',
        icon-color: 'color' $color 'dark-2',
        text-color: 'color' $color 'dark-2'
      ));
    }
  }
}
