@use 'sass:map';

@use './design' as *;
@use './icon.scss';

$alert: () !default;
$alert: map.merge(
  (
    bg-color: get-css-var('fill-color-background'),
    b-color: get-css-var('border-color-base'),
    border: get-css-var('border-shape') get-css-var('alert-b-color'),
    radius: get-css-var('radius-base'),
    icon-color: get-css-var('content-color-primary'),
    text-color: get-css-var('content-color-base'),
    title-font-size: get-css-var('font-size-primary'),
    title-color: get-css-var('content-color-primary'),
    close-color: get-css-var('content-color-placeholder'),
    close-color-hover: get-css-var('content-color-normal'),
    icon-width: 40px
  ),
  $alert
);

.vxp-alert {
  &-vars {
    @include define-preset-values('alert', $alert);
  }

  @mixin define-alert-style($style-map) {
    @include define-preset-style('alert', $style-map);
  }

  @include basis;

  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 14px;
  margin-bottom: 14px;
  background-color: get-css-var('alert-bg-color');
  border: get-css-var('alert-border');
  border-radius: get-css-var('alert-radius');

  &--has-title {
    padding: 10px 14px;
  }

  &--has-icon {
    padding-left: get-css-var('alert-icon-width');
  }

  &--has-icon#{&}--has-title {
    @include define-css-var('alert-icon-width', 56px);
  }

  &--no-border {
    border: 0;
  }

  &--banner {
    margin: 0;
    border: 0;
    border-radius: 0;
  }

  &--colorful-text {
    color: get-css-var('alert-text-color');
  }

  &__wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 4px;
    font-size: get-css-var('alert-title-font-size');
    color: get-css-var('alert-title-color');
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: get-css-var('alert-icon-width');
    color: get-css-var('alert-icon-color');
  }

  &--has-title &__icon {
    align-items: start;
    padding-top: 16px;
  }

  &__close {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    color: get-css-var('alert-close-color');
    cursor: pointer;
    transition: get-css-var('transition-color');

    &:hover {
      color: get-css-var('alert-close-color-hover');
    }
  }

  &--has-title &__close {
    align-self: start;
  }

  $types: info success warning error;

  @each $type in $types {
    $color: if($type == 'info', 'primary', $type);

    &--#{$type} {
      @include define-alert-style((
        bg-color: 'color' $color 'opacity-8',
        b-color: 'color' $color 'opacity-5',
        icon-color: 'color' $color 'dark-2',
        text-color: 'color' $color 'dark-2'
      ));
    }
  }
}
