@use '../design' as *;
@use './select.scss';

.vxp-auto-complete {
  &__input {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: inherit;
    line-height: get-css-var('input-line-height');
    color: get-css-var('input-color-control');
    background-color: transparent;
    border: 0;
    border-radius: get-css-var('input-border-radius');
    outline: 0;

    &::placeholder {
      color: get-css-var('input-color-placeholder');
    }
  }
}
