@use './shared' as *;
@use './design' as *;

.#{$namespace}-auto-complete {
  &__input {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: inherit;
    line-height: get-css-var('input-line-height');
    color: get-css-var('input-control-color');
    background-color: transparent;
    border: 0;
    border-radius: get-css-var('input-radius');
    outline-color: transparent;

    &::placeholder {
      color: get-css-var('input-placeholder-color');
    }
  }
}
