@use 'sass:map';

@use './design' as *;

$avatar: () !default;
$avatar: map.merge(
  (
    color: get-css-var('color-white'),
    bg-color: get-css-var('fill-color-secondary'),
    b-color: get-css-var('border-color-base'),
    b-width: get-css-var('border-width'),
    b-style: get-css-var('border-style'),
    border: get-css-var('avatar-b-width') get-css-var('avatar-b-style') get-css-var('avatar-b-color'),
    size: 32px,
    radius: get-css-var('radius-base'),
    series-span: 8px,
    image-fit: 'cover',
    group-offset: -8px
  ),
  $avatar
);

.vxp-avatar {
  &-vars {
    @include define-preset-values('avatar', $avatar);
  }

  @mixin define-badge-style($style-map) {
    @include define-preset-style('avatar', $style-map);
  }

  @include basis;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: get-css-var('avatar-size');
  height: get-css-var('avatar-size');
  overflow: hidden;
  color: get-css-var('avatar-color');
  user-select: none;
  background-color: get-css-var('avatar-bg-color');
  border-radius: get-css-var('avatar-radius');

  & + & {
    margin-left: get-css-var('avatar-series-span');
  }

  &--circle {
    border-radius: 50%;
  }

  &--border {
    border: get-css-var('avatar-border');
  }

  &--small {
    @include define-preset-values('avatar', (
      size: 26px
    ));
  }

  &--large {
    @include define-preset-values('avatar', (
      size: 40px
    ));
  }

  &__image {
    height: 100%;
    object-fit: get-css-var('avatar-image-fit');
    pointer-events: none;
  }

  &__text {
    text-align: center;
    white-space: nowrap;
  }

  $self: #{&};

  @at-root {
    &-group {
      display: inline-flex;

      &--vertical {
        flex-direction: column;
      }

      &__item {
        position: relative;
        background-color: get-css-var('bg-color-base');

        &--rest {
          cursor: pointer;
        }

        &:not(:first-child) {
          margin-left: get-css-var('avatar-group-offset');
        }

        & > #{$self} {
          border: get-css-var('avatar-border');
        }
      }

      &--circle &__item,
      &--circle #{$self} {
        border-radius: 50%;
      }

      &--vertical &__item {
        &:not(:first-child) {
          margin-top: get-css-var('avatar-group-offset');
          margin-left: 0;
        }
      }

      &__rest {
        display: flex;
      }
    }
  }
}
