@use 'sass:map';

@use '../design' as *;

$types: primary info success warning;

$badge: () !default;
$badge: map.merge(
  (
    color: get-css-var('content-color-reverse'),
    bg-color: get-css-var('color-error-base'),
    border-color: get-css-var('color-error-light-9'),
    line-height: get-css-var('line-height-base'),
    height: calc(get-css-var('badge-line-height') * 1em),
    padding: 0 calc(get-css-var('badge-line-height') * 0.35em),
    font-family: #{Helvetica, 'Microsoft YaHei', SimSun, sans-serif},
    font-size: get-css-var('font-size-secondary'),
    dot-size: 7px
  ),
  $badge
);

.vxp-badge {
  &-vars {
    @include define-preset-values('badge', $badge);
  }

  @mixin define-badge-style($style-map) {
    @include define-preset-style('badge', $style-map);
  }

  @include basis;

  position: relative;
  display: inline-block;

  &--not-wrapper {
    line-height: 1;
    vertical-align: middle;
  }

  &--not-wrapper#{&}--is-dot {
    display: inline-flex;
  }

  &__content {
    position: relative;
    top: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: get-css-var('badge-height');
    padding: get-css-var('badge-padding');
    font-family: get-css-var('badge-font-family');
    font-size: get-css-var('badge-font-size');
    line-height: get-css-var('badge-line-height');
    color: get-css-var('badge-color');
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-color: get-css-var('badge-bg-color');
    border-radius: calc(get-css-var('badge-line-height') * 0.5em);
    box-shadow: get-css-var('box-shadow-border') get-css-var('badge-border-color');
    transform-origin: center center;

    &--fixed {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

    @each $type in $types {
      &--#{$type} {
        @include define-badge-style((
          bg-color: 'color' $type 'base',
          border-color: 'color' $type 'light-9'
        ));
      }
    }

    &--disabled {
      @include define-badge-style((
        bg-color: 'content-color-disabled',
        border-color: 'fill-color-base'
      ));
    }
  }

  &--is-dot &__content {
    width: get-css-var('badge-dot-size');
    height: get-css-var('badge-dot-size');
    padding: 0;
    border-radius: 50%;
  }
}
