@use 'sass:math';
@use 'sass:map';

@use './design' as *;
@use './column.scss';
@use './number-input.scss';
@use './row.scss';

$calendar: () !default;
$calendar: map.merge(
  (
    header-height: 50px,
    date-color-today: get-css-var('color-primary-base'),
    date-color-outside: get-css-var('content-color-disabled'),
    date-color-disabled: get-css-var('content-color-humble'),
    date-bg-color: transparent,
    date-bg-color-hover: get-css-var('color-primary-opacity-9'),
    date-bg-color-selected: get-css-var('color-primary-opacity-8'),
    date-bg-color-disabled: get-css-var('calendar-date-bg-color'),
    date-bg-color-outside: get-css-var('calendar-date-bg-color'),
    date-b-width: 2px,
    date-b-style: get-css-var('border-style'),
    date-b-color: get-css-var('border-color-base'),
    date-b-color-selected: get-css-var('color-primary-light-2'),
    date-b-color-disabled: get-css-var('border-color-light-2'),
    date-b-color-outside: get-css-var('border-color-light-1'),
    date-border:
    get-css-var('calendar-date-b-width')
    get-css-var('calendar-date-b-style')
    get-css-var('calendar-date-b-color'),
    content-height: 90px,
    content-v-padding: 4px,
    content-h-padding: 4px
  ),
  $calendar
);

@use './calendar-pane.scss' with (
  $calendar-pane: $calendar
);

.#{$namespace}-calendar {
  @include basis;

  width: 100%;

  &__header {
    width: 100%;
    height: get-css-var('calendar-header-height');
    padding-bottom: 10px;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__year-input {
    min-width: 100px;
    margin-right: 14px;
  }

  &__month-input {
    min-width: 80px;
  }

  &__body,
  &__row {
    width: 100%;
  }

  &__cell {
    width: math.div(1, 7) * 100%;
  }

  &__week {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 2px 4px;

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: get-css-var('calendar-index-size');
      height: get-css-var('calendar-index-size');
    }
  }

  &__date {
    width: 100%;
    padding: 4px 4px 0;
    margin: 0 2px;
    cursor: pointer;
    background-color: get-css-var('calendar-date-bg-color');
    border-top: get-css-var('calendar-date-border');
    transition:
      get-css-var('transition-color'),
      get-css-var('transition-background'),
      get-css-var('transition-border');

    &:hover {
      background-color: get-css-var('calendar-date-bg-color-hover');
    }

    &--today {
      color: get-css-var('calendar-date-color-today');
    }

    &--prev,
    &--next {
      color: get-css-var('calendar-date-color-outside');
      background-color: get-css-var('calendar-date-bg-color-outside');
      border-top-color: get-css-var('calendar-date-b-color-outside');
    }

    &--selected {
      &,
      &:hover {
        background-color: get-css-var('calendar-date-bg-color-selected');
        border-top-color: get-css-var('calendar-date-b-color-selected');
      }
    }

    &--disabled {
      &,
      &:hover {
        color: get-css-var('calendar-date-color-disabled');
        cursor: not-allowed;
        background-color: get-css-var('calendar-date-bg-color-disabled');
        border-top-color: get-css-var('calendar-date-b-color-disabled');
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: get-css-var('calendar-index-size');
      user-select: none;
    }

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: get-css-var('calendar-index-size');
    }

    &-content {
      height: get-css-var('calendar-content-height');
      padding: get-css-var('calendar-content-v-padding') get-css-var('calendar-content-h-padding');
      overflow: auto;
    }
  }
}
