@import './calendar-pane.scss';

.vxp-calendar {
  @include basis;

  width: 100%;

  &__header {
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__year-input {
    min-width: 100px;
    margin-right: 1em;
  }

  &__month-input {
    min-width: 80px;
  }

  &__body,
  &__row {
    width: 100%;
  }

  &__cell {
    width: math.div(1, 7) * 100%;
  }

  &__week {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 2px 4px;

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
    }
  }

  &__date {
    width: 100%;
    padding: 4px 4px 0;
    margin: 0 2px;
    cursor: pointer;
    background-color: transparent;
    border-top: 2px solid $vxp-color-border-light-1;
    transition:
      $vxp-transition-color-base,
      $vxp-transition-background-base,
      $vxp-transition-border-base;

    &:hover {
      background-color: rgba($vxp-color-primary, 0.05);
    }

    &--today {
      color: $vxp-color-primary;
    }

    &--prev,
    &--next {
      color: $vxp-color-content-disabled;
    }

    &--selected {
      &,
      &:hover {
        // color: $vxp-color-content-reverse;
        background-color: rgba($vxp-color-primary, 0.1);
        border-top-color: $vxp-color-primary-light-2;
      }
    }

    &--disabled {
      &,
      &:hover {
        color: $vxp-color-content-humble;
        cursor: not-allowed;
        background-color: transparent;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 2em;
      user-select: none;
    }

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
    }

    &-content {
      height: 7em;
      padding: 4px;
      overflow: auto;
    }
  }
}
