@use 'sass:map';

@use '../design' as *;

$card: () !default;
$card: map.merge(
  (
    bg-color: get-css-var('fill-color-base'),
    border-color: get-css-var('border-color-base'),
    border: get-css-var('border-appearance') get-css-var('card-border-color'),
    border-radius: get-css-var('border-radius-base'),
    shadow-color: get-css-var('card-border-color'),
    shadow: get-css-var('box-shadow-appearance') get-css-var('card-shadow-color'),
    divider-color: get-css-var('border-color-light-2'),
    divider: get-css-var('border-appearance') get-css-var('card-divider-color'),
    title-font-size: get-css-var('font-size-primary'),
    body-padding: 1em 1.2em
  ),
  $card
);

.vxp-card {
  &-vars {
    @include define-preset-values('card', $card);
  }

  @include basis;

  display: flex;
  flex-direction: column;
  background-color: get-css-var('card-bg-color');
  border: get-css-var('card-border');
  border-radius: get-css-var('card-border-radius');
  box-shadow: 0 0 0 transparent;
  transition: get-css-var('transition-box-shadow');

  &--shadow-always {
    box-shadow: get-css-var('card-shadow');
  }

  &--shadow-hover {
    &:hover {
      box-shadow: get-css-var('card-shadow');
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.2em;
    border-bottom: get-css-var('card-divider');
  }

  &__title {
    font-size: get-css-var('card-title-font-size');
  }

  &__content {
    padding: get-css-var('card-body-padding');
  }
}
