@use 'sass:map';

@use '../design' as *;

$checkbox: () !default;
$checkbox: map.merge(
  (
    label-color: inherit,
    label-color-checked: get-css-var('color-primary-base'),
    label-color-disabled: get-css-var('content-color-disabled'),
    b-color: get-css-var('border-color-base'),
    b-color-hover: get-css-var('color-primary-base'),
    b-color-checked: get-css-var('color-primary-base'),
    b-color-disabled: get-css-var('fill-color-disabled'),
    signal-bg-color: get-css-var('fill-color-base'),
    signal-bg-color-checked: get-css-var('color-primary-base'),
    signal-bg-color-disabled: get-css-var('fill-color-background'),
    signal-check-color: get-css-var('color-white'),
    border: get-css-var('border-shape') get-css-var('checkbox-b-color'),
    radius: get-css-var('border-radius-base'),
    signal-radius: get-css-var('border-radius-small'),
    s-color-focus: get-css-var('color-primary-opacity-6'),
    shadow-focus: get-css-var('shadow-focus') get-css-var('checkbox-s-color-focus'),
    signal-small-size: 14px,
    signal-small-thick: 1px,
    signal-default-size: 18px,
    signal-default-thick: 2px,
    signal-large-size: 22px,
    signal-large-thick: 3px
  ),
  $checkbox
);

.vxp-checkbox {
  &-vars {
    @include define-preset-values('checkbox', $checkbox);
  }

  @mixin define-checkbox-style($style-map) {
    @include define-preset-style('checkbox', $style-map);
  }

  @include basis;

  position: relative;
  display: inline-flex;
  align-items: center;

  // margin-right: 0.8em;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition:
    get-css-var('transition-background'),
    get-css-var('transition-border'),
    get-css-var('transition-box-shadow');

  &--border {
    padding: 0.6em 0.8em;
    border: get-css-var('checkbox-border');
    border-radius: get-css-var('checkbox-radius');

    &:hover {
      border-color: get-css-var('checkbox-b-color-hover');
    }
  }

  &--checked#{&}--border {
    border-color: get-css-var('checkbox-b-color-checked');
  }

  &__signal {
    position: relative;
    display: inline-block;
    width: get-css-var('checkbox-signal-default-size');
    height: get-css-var('checkbox-signal-default-size');
    background-color: get-css-var('checkbox-signal-bg-color');
    border: get-css-var('checkbox-border');
    border-radius: get-css-var('checkbox-signal-radius');
    transition:
      get-css-var('transition-background'),
      get-css-var('transition-border'),
      get-css-var('transition-box-shadow');

    &::after {
      position: absolute;
      top: calc(50% - 1px);
      left: 50%;
      width:
        calc(
          get-css-var('checkbox-signal-default-size') * 0.25 +
          get-css-var('checkbox-signal-default-thick') * 0.5 - 0.5px
        );
      height: calc(get-css-var('checkbox-signal-default-size') * 0.5);
      content: '';
      background-color: transparent;
      border: solid get-css-var('checkbox-signal-check-color');
      border-width: 0 get-css-var('checkbox-signal-default-thick') get-css-var('checkbox-signal-default-thick') 0;
      opacity: 0%;
      transition:
        width get-css-var('transition-base'),
        height get-css-var('transition-base'),
        get-css-var('transition-background'),
        get-css-var('transition-opacity'),
        get-css-var('transition-transform');
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }
  }

  &:focus-within &__signal {
    box-shadow: get-css-var('checkbox-shadow-focus');
  }

  @mixin small-signal {
    width: get-css-var('checkbox-signal-small-size');
    height: get-css-var('checkbox-signal-small-size');

    &::after {
      width:
        calc(
          get-css-var('checkbox-signal-small-size') * 0.25 + get-css-var('checkbox-signal-small-thick') * 0.5 - 0.5px
        );
      height: calc(get-css-var('checkbox-signal-small-size') * 0.5);
      border-width: 0 get-css-var('checkbox-signal-small-thick') get-css-var('checkbox-signal-small-thick') 0;
    }
  }

  @mixin large-signal {
    width: get-css-var('checkbox-signal-large-size');
    height: get-css-var('checkbox-signal-large-size');

    &::after {
      width:
        calc(
          get-css-var('checkbox-signal-large-size') * 0.25 + get-css-var('checkbox-signal-large-thick') * 0.5 - 0.5px
        );
      height: calc(get-css-var('checkbox-signal-large-size') * 0.5);
      border-width: 0 get-css-var('checkbox-signal-large-thick') get-css-var('checkbox-signal-large-thick') 0;
    }
  }

  &--small &__signal {
    @include small-signal;
  }

  &--large &__signal {
    @include large-signal;
  }

  &__label {
    margin-left: 0.4em;
    color: get-css-var('checkbox-label-color');
    transition: get-css-var('transition-color');
  }

  &:hover &__signal {
    border-color: get-css-var('checkbox-b-color-hover');
  }

  @mixin partial-signal {
    background-color: get-css-var('checkbox-signal-bg-color-checked');
    border-color: get-css-var('checkbox-b-color-checked');

    &::after {
      top: 50%;
      width: calc(get-css-var('checkbox-signal-default-size') * 0.5);
      height: 1px;
      opacity: 100%;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &--partial &__signal {
    @include partial-signal;
  }

  &--partial#{&}--small &__signal::after {
    width: calc(get-css-var('checkbox-signal-small-size') * 0.5);
  }

  &--partial#{&}--large &__signal::after {
    width: calc(get-css-var('checkbox-signal-large-size') * 0.5);
  }

  &--checked &__signal {
    background-color: get-css-var('checkbox-signal-bg-color-checked');
    border-color: get-css-var('checkbox-b-color-checked');

    &::after {
      opacity: 100%;
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }

  &--checked &__label {
    color: get-css-var('checkbox-label-color-checked');
  }

  $states: success, error, warning;

  @each $state in $states {
    &--#{$state} {
      @include define-checkbox-style(
        (
          label-color-checked: 'color' $state 'base',
          b-color: 'color' $state 'base',
          b-color-hover: 'color' $state 'base',
          b-color-checked: 'color' $state 'base',
          signal-bg-color-checked: 'color' $state 'base',
          s-color-focus: 'color' $state 'opacity-6'
        )
      );
    }
  }

  &--disabled,
  &--disabled#{&}--border {
    cursor: not-allowed;

    &,
    &:hover {
      border-color: get-css-var('checkbox-b-color-disabled');
    }
  }

  &--disabled &__signal,
  &--disabled:hover &__signal {
    background-color: get-css-var('checkbox-signal-bg-color-disabled');
    border-color: get-css-var('checkbox-b-color-disabled');

    &::after {
      border-color: get-css-var('checkbox-b-color-disabled');
    }
  }

  &--disabled &__label {
    color: get-css-var('checkbox-label-color-disabled');
  }

  &--disabled#{&}--checked &__signal {
    background-color: get-css-var('checkbox-b-color-disabled');
  }

  &__input {
    width: 0;
    height: 0;
    margin: 0;
    pointer-events: none;
    opacity: 0%;
  }

  @at-root {
    &-group {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;

      &--vertical {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    &-group & {
      margin-right: 0.8em;
    }

    &-group--vertical & {
      margin-right: 0;
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-group--border & {
      padding: 0.6em 0.8em;
      border: get-css-var('checkbox-border');
      border-radius: get-css-var('checkbox-radius');

      &:hover {
        border-color: get-css-var('checkbox-b-color-hover');
      }

      &--checked {
        border-color: get-css-var('checkbox-b-color-checked');
      }
    }

    &-group--border &--disabled {
      &,
      &:hover {
        border-color: get-css-var('checkbox-b-color-disabled');
      }
    }

    &-group--disabled & {
      cursor: not-allowed;

      &,
      &:hover {
        border-color: get-css-var('checkbox-b-color-disabled');
      }

      &__signal {
        border-color: get-css-var('checkbox-b-color-disabled') !important;

        &::after {
          background-color: get-css-var('checkbox-b-color-disabled');
        }
      }

      &__label {
        color: get-css-var('checkbox-label-color-disabled');
      }
    }

    &-group--disabled &--checked &__signal {
      background-color: get-css-var('checkbox-b-color-disabled');
    }

    &-group--small &__signal {
      @include small-signal;
    }

    &-group--large &__signal {
      @include large-signal;
    }

    // &-group--partial &__signal {
    //   @include partial-signal;
    // }

    &-group--small &--partial &__signal::after {
      width: calc(get-css-var('checkbox-signal-small-size') * 0.5);
    }

    &-group--large &--partial &__signal::after {
      width: calc(get-css-var('checkbox-signal-large-size') * 0.5);
    }
  }
}
