@use 'sass:map';

@use '../design' as *;
@use './icon.scss';

$collapse: () !default;
$collapse: map.merge(
  (
    header-color-disabled: get-css-var('content-color-disabled'),
    header-bg-color: transparent,
    header-bg-color-card: get-css-var('fill-color-background'),
    arrow-color: get-css-var('content-color-secondary'),
    arrow-color-disabled: get-css-var('content-color-humble'),
    content-color-disabled: get-css-var('content-color-disabled'),
    content-padding: 0.8em 0 1.2em,
    divider-color: get-css-var('border-color-light-2'),
    divider: get-css-var('border-appearance') get-css-var('collapse-divider-color'),
    border-color: get-css-var('border-color-base'),
    border: get-css-var('border-appearance') get-css-var('collapse-border-color'),
    border-radius: get-css-var('border-radius-base')
  ),
  $collapse
);

.vxp-collapse {
  &-vars {
    @include define-preset-values('collapse', $collapse);
  }

  @include basis;

  $header: #{&}__header;
  $arrow: #{&}__arrow;
  $content: #{&}__content;
  $divider: get-css-var('collapse-divider');
  $radius: get-css-var('collapse-border-radius');

  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-top: $divider;

  @at-root {
    &__pane {
      @include basis;

      padding: 0;
      margin: 0;
      list-style: none;
      border-top: $divider;
      border-bottom: $divider;

      &--card {
        #{$header} {
          border-radius: $radius;
        }

        #{$content} {
          padding: get-css-var('collapse-content-padding');
          border-radius: 0 0 $radius $radius;
        }
      }

      &--expanded#{&}--card {
        #{$header} {
          border-bottom-color: get-css-var('collapse-divider-color');
          border-radius: $radius $radius 0 0;
        }
      }

      &--ghost {
        border: 0;
      }
    }
  }

  & &__pane {
    border-top: 0;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.6em 1em;
    cursor: pointer;
    transition: get-css-var('transition-color');
  }

  &__pane--disabled &__header {
    color: get-css-var('collapse-header-color-disabled');
    cursor: not-allowed;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: get-css-var('transition-color'), get-css-var('transition-transform');
    transform: translate(-50%, -50%);

    &,
    .vxp-icon {
      color: get-css-var('collapse-arrow-color');
    }
  }

  &--arrow-left,
  &__pane--arrow-left {
    #{$header} {
      padding-left: 2.4em;
    }

    #{$arrow} {
      left: 1.2em;
    }
  }

  &--arrow-right,
  &__pane--arrow-right {
    #{$header} {
      padding-right: 2.4em;
    }

    #{$arrow} {
      left: calc(100% - 1.2em);
    }
  }

  &--arrow-none,
  &__pane--arrow-none {
    #{$arrow} {
      display: none;
    }
  }

  &__pane--expanded &__arrow {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &__pane--disabled &__arrow {
    &,
    .vxp-icon {
      color: get-css-var('collapse-arrow-color-disabled');
    }
  }

  &__body {
    padding: 0 1em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: get-css-var('collapse-content-padding');
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3em;
  }

  &__pane--disabled &__content {
    color: get-css-var('collapse-content-color-disabled');
  }

  &--card,
  &__pane--card {
    border: get-css-var('collapse-border');
    border-radius: $radius;

    #{$header} {
      background-color: get-css-var('collapse-header-bg-color-card');
      border-bottom: get-css-var('border-appearance') transparent;
    }
  }

  &--card &__pane {
    border-color: get-css-var('collapse-divider-color');

    &:first-child #{$header} {
      border-radius: $radius $radius 0 0;
    }

    &:last-child {
      border-bottom: 0;

      #{$header} {
        border-radius: 0 0 $radius $radius;
      }
    }
  }

  &--card &__pane--expanded {
    #{$header} {
      border-bottom-color: get-css-var('collapse-divider-color');
    }

    #{$content} {
      border-radius: 0 0 $radius $radius;
    }
  }

  &--ghost,
  &--ghost &__pane {
    border: 0;
  }

  // &--card &__content {
  //   padding: get-css-var('collapse-content-padding');
  // }
}
