@use 'sass:map';

@use './design' as *;
@use './button.scss';
@use './input.scss' as input;

$color-picker: () !default;
$color-picker: map.merge(
  (
    marker-color: get-css-var('content-color-humble'),
    marker-b-color: get-css-var('border-color-base'),
    marker-border: get-css-var('border-shape') get-css-var('color-picker-marker-b-color'),
    marker-radius: get-css-var('radius-small'),
    marker-small-height: 1.1em,
    marker-default-height: 1.3em,
    marker-large-height: 1.7em,
    marker-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg=='),
    arrow-color: get-css-var('content-color-secondary'),
    popper-z-index: get-css-var('z-index-popper'),
    pane-bg-color: get-css-var('bg-color-base'),
    pane-radius: get-css-var('radius-base'),
    pane-shadow: get-css-var('shadow-base'),
    d-color: get-css-var('border-color-light-2'),
    divider: get-css-var('border-shape') get-css-var('color-picker-d-color'),
    pointer-size: 6px,
    handler-size: 6px,
    handler-bg-color: get-css-var('color-white'),
    handler-b-color: get-css-var('border-color-base'),
    handler-border: get-css-var('border-shape') get-css-var('color-picker-handler-b-color'),
    handler-radius: 3px,
    shortcut-b-color: get-css-var('border-color-base'),
    shortcut-b-color-hover: get-css-var('color-primary-base'),
    shortcut-radius: get-css-var('radius-base')
  ),
  $color-picker
);

.vxp-color-picker {
  &-vars {
    @include define-preset-values('color-picker', $color-picker);
  }

  @include basis;
  @include input.handler;

  width: auto;

  &__control {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__marker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 0.6em);
    min-width: 1.6em;
    height: get-css-var('color-picker-marker-default-height');
    margin-top: -0.5px; // 修正视觉差异
    margin-right: 0.6em;
    color: get-css-var('color-picker-marker-color');
    border: get-css-var('color-picker-marker-border');
    border-radius: get-css-var('color-picker-marker-radius');
  }

  &--small &__marker {
    height: get-css-var('color-picker-marker-small-height');
  }

  &--large &__marker {
    height: get-css-var('color-picker-marker-large-height');
  }

  &--alpha &__marker {
    background-image: get-css-var('color-picker-marker-bg-image');
  }

  &--empty &__marker {
    background-image: none;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 100%;
    color: get-css-var('color-picker-arrow-color');
    transition: get-css-var('transition-transform');
  }

  &--visible &__arrow .vxp-icon {
    transform: rotate(180deg);
  }

  &__popper {
    z-index: get-css-var('color-picker-popper-z-index');
    display: flex;
    padding: 0.35em 0;
  }

  &__pane {
    background-color: get-css-var('color-picker-pane-bg-color');
    border-radius: get-css-var('color-picker-pane-radius');
    box-shadow: get-css-var('color-picker-pane-shadow');
  }

  &__section {
    width: 100%;
    padding: 0.6em 0.6em 0;
  }

  &__palette {
    position: relative;
    width: 100%;
    min-width: 18em;
    height: 13em;
    cursor: crosshair;
  }

  &__saturation,
  &__value,
  &__opacity {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* stylelint-disable plugin/no-unsupported-browser-features */
  &__saturation {
    background: linear-gradient(90deg, #fff, hsl(0deg 0% 100% / 0%));
  }

  &__value {
    background: linear-gradient(0deg, #000, transparent);
  }

  &__hue,
  &__alpha {
    position: relative;
    width: 100%;
    height: 1em;
    margin-top: 0.8em;
    cursor: pointer;
  }

  &__hue {
    background:
      linear-gradient(
        90deg,
        red 0,
        #ff0 17%,
        #0f0 33%,
        #0ff 50%,
        #00f 67%,
        #f0f 83%,
        red
      );
  }
  /* stylelint-enable */

  &__alpha {
    background-image: get-css-var('color-picker-marker-bg-image');
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.6em;
    margin-top: 0.8em;
    border-top: get-css-var('color-picker-divider');

    .vxp-button {
      margin-left: 0.3em !important;
    }

    .vxp-input {
      width: 100%;
    }
  }

  &__palette-handler {
    position: absolute;
    user-select: none;
    border: get-css-var('border-shape') get-css-var('color-black');
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__palette-pointer {
    width: get-css-var('color-picker-pointer-size');
    height: get-css-var('color-picker-pointer-size');
    border: get-css-var('border-shape') get-css-var('color-white');
    border-radius: 50%;
  }

  &__hue-handler,
  &__alpha-handler {
    position: absolute;
    top: 0;
    bottom: 0;
    width: get-css-var('color-picker-handler-size');
    background-color: get-css-var('color-picker-handler-bg-color');
    border: get-css-var('color-picker-handler-border');
    border-radius: get-css-var('color-picker-handler-radius');
    transform: translateX(-50%);
  }

  &__shortcuts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 0.8em;
  }

  &__shortcut-item {
    width: 1.2em;
    height: 1.2em;
    margin: 2px;
    cursor: pointer;
    border-radius: get-css-var('color-picker-shortcut-radius');
    box-shadow: get-css-var('shadow-border') get-css-var('color-picker-shortcut-b-color');
    transition: box-shadow 200ms;

    &:hover {
      box-shadow: 0 0 2px 1px get-css-var('color-picker-shortcut-b-color-hover');
    }
  }
}
