@use '../design' as *;
@use './modal.scss';

.vxp-confirm {
  @include basis;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3em;
    color: $vxp-color-warning;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
  }

  &__button {
    padding: 0 2em;

    &:last-child {
      margin-left: 1.6em;
    }
  }
}
