@use 'sass:map';

@use './design' as *;
@use './modal.scss';

$confirm: () !default;
$confirm: map.merge(
  (
    icon-color: get-css-var('color-warning-base')
  ),
  $confirm
);

.vxp-confirm {
  &-vars {
    @include define-preset-values('confirm', $confirm);
  }

  @include basis;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    color: get-css-var('confirm-icon-color');
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
  }

  &__button {
    padding: 0 2em;

    &:last-child {
      margin-left: 1.6em;
    }
  }
}
