@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$contextmenu: () !default;
$contextmenu: map.merge(
  (
    z-index: get-css-var('z-index-popper'),
    icon-color: get-css-var('content-color-secondary'),
    shortcut-color: get-css-var('content-color-disabled'),
    shortcut-offset: 30px
  ),
  $contextmenu
);

.#{$namespace}-contextmenu {
  &-vars {
    @include define-preset-values('contextmenu', $contextmenu);
  }

  @include basis;

  position: fixed;
  z-index: get-css-var('contextmenu-z-index');

  & &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 180px;
    padding: 5px 10px;
    font-size: 13px;
  }

  &__list--icons &__item {
    padding-inline-start: 28px;
  }

  &__list--no-icon &__item {
    padding-inline-start: 10px;
  }

  &__list--arrows &__item {
    padding-inline-end: 28px;
  }

  &__list--no-arrow &__item {
    padding-inline-end: 10px;
  }

  &__icon {
    position: absolute;
    inset-inline-start: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    color: get-css-var('contextmenu-icon-color');
  }

  &__shortcut {
    margin-inline-start: get-css-var('contextmenu-shortcut-offset');
    color: get-css-var('contextmenu-shortcut-color');
  }

  &__arrow {
    inset-inline-end: 6px;
    inset-inline-start: auto;
  }
}
