@use 'sass:map';

@use './design' as *;
@use './dropdown.scss';

$contextmenu: () !default;
$contextmenu: map.merge(
  (
    icon-color: get-css-var('content-color-secondary'),
    shortcut-color: get-css-var('content-color-disabled'),
    shortcut-offset: 30px
  ),
  $contextmenu
);

.#{$namespace}-contextmenu {
  &-vars {
    @include define-preset-values('contextmenu', $contextmenu);
  }

  @include basis;

  position: fixed;

  & &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 180px;
    padding: 5px 10px;
    font-size: 13px;
  }

  &__list--icons &__item {
    padding-left: 28px;
  }

  &__list--no-icon &__item {
    padding-left: 10px;
  }

  &__list--arrows &__item {
    padding-right: 28px;
  }

  &__list--no-arrow &__item {
    padding-right: 10px;
  }

  &__icon {
    position: absolute;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    color: get-css-var('contextmenu-icon-color');
  }

  &__shortcut {
    margin-left: get-css-var('contextmenu-shortcut-offset');
    color: get-css-var('contextmenu-shortcut-color');
  }

  &__arrow {
    right: 6px;
    left: auto;
  }
}
