@use 'sass:map';

@use './design' as *;
@use './masker.scss';

$drawer: () !default;
$drawer: map.merge(
  (
    z-index: get-css-var('z-index-masker'),
    bg-color: get-css-var('bg-color-base'),
    header-v-padding: 10px,
    header-h-padding: 14px,
    title-color: get-css-var('content-color-primary'),
    d-color: get-css-var('border-color-light-2'),
    title-font-size: get-css-var('font-size-primary'),
    close-color: get-css-var('content-color-placeholder'),
    close-color-hover: get-css-var('content-color-base'),
    title-weight: 500,
    handler-bg-color-hover: rgba($color-black, 0.15),
    handler-width: 5px,
    footer-v-padding: 10px,
    footer-h-padding: 16px
  ),
  $drawer
);

.#{$namespace}-drawer {
  &-vars {
    @include define-preset-values('drawer', $drawer);
  }

  @include basis;
  @include fixed;

  z-index: get-css-var('drawer-z-index');

  &--inner {
    position: absolute;
    overflow: hidden;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: get-css-var('drawer-bg-color');
    border: 0;

    &--top,
    &--bottom {
      right: 0;
      left: 0;
      min-height: 60px;
      max-height: calc(100vh - 14px);
    }

    &--right,
    &--left {
      top: 0;
      bottom: 0;
      max-width: calc(100vw - 14px);
    }

    &--top {
      top: 0;
    }

    &--right {
      right: 0;
    }

    &--bottom {
      bottom: 0;
    }

    &--left {
      left: 0;
    }

    &--resizing {
      user-select: none;
    }
  }

  &--inner &__wrapper {
    position: absolute;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: get-css-var('drawer-header-v-padding') get-css-var('drawer-header-h-padding');
    border-bottom: get-css-var('border-shape') get-css-var('drawer-d-color');
  }

  &__title {
    flex: 1 0 0;
    font-size: get-css-var('drawer-title-font-size');
    font-weight: get-css-var('drawer-title-weight');
    color: get-css-var('drawer-title-color');
  }

  &__content {
    flex: auto;
    padding: 14px 16px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: get-css-var('drawer-footer-v-padding') get-css-var('drawer-footer-h-padding');
    border-top: get-css-var('border-shape') get-css-var('drawer-d-color');
  }

  &__close {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0;
    margin-left: 6px;
    color: get-css-var('drawer-close-color');
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: get-css-var('transition-color');

    &:hover,
    &:focus {
      color: get-css-var('drawer-close-color-hover');
    }
  }

  &__handler {
    @include define-css-var(
      'drawer-hanlder-offset',
      calc(get-css-var('drawer-handler-width') * -0.5 + 0.5px)
    );

    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: get-css-var('transition-background');

    &--top,
    &--bottom {
      right: 0;
      left: 0;
      height: get-css-var('drawer-handler-width');
      cursor: ns-resize;
    }

    &--right,
    &--left {
      top: 0;
      bottom: 0;
      width: get-css-var('drawer-handler-width');
      cursor: ew-resize;
    }

    &--top {
      bottom: get-css-var('drawer-hanlder-offset');
    }

    &--right {
      left: get-css-var('drawer-hanlder-offset');
    }

    &--bottom {
      top: get-css-var('drawer-hanlder-offset');
    }

    &--left {
      right: get-css-var('drawer-hanlder-offset');
    }

    &:hover,
    &--resizing {
      background-color: get-css-var('drawer-handler-bg-color-hover');
    }
  }
}
