@use 'sass:map';

@use '../design' as *;
@use './masker.scss';

$drawer: () !default;
$drawer: map.merge(
  (
    z-index: get-css-var('z-index-masker'),
    bg-color: get-css-var('bg-color-base'),
    title-color: get-css-var('content-color-primary'),
    title-d-color: get-css-var('border-color-light-2'),
    title-font-size: get-css-var('font-size-primary'),
    title-divider: get-css-var('border-shape') get-css-var('drawer-title-d-color'),
    close-color: get-css-var('content-color-placeholder'),
    close-color-hover: get-css-var('content-color-base'),
    handler-bg-color-hover: rgba($color-black, 0.15),
    handler-width: 5px
  ),
  $drawer
);

.vxp-drawer {
  &-vars {
    @include define-preset-values('drawer', $drawer);
  }

  @include basis;
  @include fixed;

  z-index: get-css-var('drawer-z-index');

  &--inner {
    position: absolute;
    overflow: hidden;
  }

  &__wrapper {
    position: absolute;
    background-color: get-css-var('drawer-bg-color');
    border: 0;

    &--top,
    &--bottom {
      right: 0;
      left: 0;
    }

    &--right,
    &--left {
      top: 0;
      bottom: 0;
    }

    &--top {
      top: 0;
    }

    &--right {
      right: 0;
    }

    &--bottom {
      bottom: 0;
    }

    &--left {
      left: 0;
    }
  }

  &--inner &__wrapper {
    position: absolute;
  }

  &__title {
    position: relative;
    padding: 0.8em 1em;
    font-size: get-css-var('drawer-title-font-size');
    color: get-css-var('drawer-title-color');
    border-bottom: get-css-var('drawer-title-divider');
  }

  &__wrapper--closable &__title {
    padding-right: 2em;
  }

  &__content {
    padding: 1em 1.2em;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 0.8em;
    display: flex;
    color: get-css-var('drawer-close-color');
    cursor: pointer;
    transform: translateY(-50%);

    &:hover {
      color: get-css-var('drawer-close-color-hover');
    }
  }

  &__handler {
    @include define-css-var('drawer-hanlder-offset', calc(get-css-var('drawer-handler-width') * -0.5 + 0.5px));

    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: get-css-var('transition-background');

    &--top,
    &--bottom {
      right: 0;
      left: 0;
      height: get-css-var('drawer-handler-width');
      cursor: ns-resize;
    }

    &--right,
    &--left {
      top: 0;
      bottom: 0;
      width: get-css-var('drawer-handler-width');
      cursor: ew-resize;
    }

    &--top {
      bottom: get-css-var('drawer-hanlder-offset');
    }

    &--right {
      left: get-css-var('drawer-hanlder-offset');
    }

    &--bottom {
      top: get-css-var('drawer-hanlder-offset');
    }

    &--left {
      right: get-css-var('drawer-hanlder-offset');
    }

    &:hover,
    &--resizing {
      background-color: get-css-var('drawer-handler-bg-color-hover');
    }
  }
}
