@use './design' as *;
@use './tooltip.scss';

.#{$namespace}-ellipsis {
  @include basis;

  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__tip {
    padding: 8px 14px 10px;
  }
}
