@use "./shared" as *;
@use "./design" as *;

.#{$namespace}-ellipsis {
  @include basis {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include inherit-color;

  &__tip {
    padding: 8px 14px 10px;
  }

  &--multiple {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-inline-box;
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: inherit;
  }
}
