@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$fence: () !default;
$fence: map.merge(
  (
    box-bg-color: get-css-var('color-primary-opacity-9'),
    box-border: get-css-var('border-shape') get-css-var('color-primary-opacity-3'),
    box-radius: get-css-var('radius-base')
  ),
  $fence
);

.#{$namespace}-fence {
  &-vars {
    @include define-preset-values('fence', $fence);
  }

  @include basis;

  position: relative;

  &__box {
    position: absolute;
    background-color: get-css-var('fence-box-bg-color');
    border: get-css-var('fence-box-border');
    border-radius: get-css-var('fence-box-radius');
  }
}
