@use 'sass:map';

@use '../design' as *;

$form: () !default;
$form: map.merge(
  (
    error-color: get-css-var('color-error-light-1'),
    error-shadow: get-css-var('box-shaodw-focus') get-css-var('color-error-opacity-6'),
    asterisk-color: get-css-var('color-error-base'),
    asterisk-family: #{SimSun, sans-serif},
    tip-color: get-css-var('color-error-base')
  ),
  $form
);

.vxp-form {
  &-vars {
    @include define-preset-values('form', $form);
  }

  @include basis;

  position: relative;
  display: flex;
  flex-direction: column;

  &__item {
    @include basis;

    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;

    &--action {
      justify-content: center;
      margin-bottom: 0;
      text-align: center;
    }

    &--error {
      // $checkbox: vxp-checkbox;
      // $radio: vxp-radio;

      .vxp-input,
      .vxp-multiple-input,
      .vxp-textarea {
        &,
        &:hover,
        &:focus,
        &--focused {
          border-color: get-css-var('form-error-color');
        }

        &:focus,
        &--focused {
          box-shadow: get-css-var('form-error-shadow');
        }
      }

      .vxp-color-picker {
        &__control {
          border-color: get-css-var('form-error-color');
        }

        &__trigger--visible .vxp-color-picker__control {
          box-shadow: get-css-var('form-error-shadow');
        }
      }
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    padding-right: 0.6em;
    white-space: nowrap;
  }

  &__control {
    position: relative;

    &__no-label {
      width: 100%;
    }
  }

  &--label-top &__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &--label-top &__label {
    justify-content: flex-start;
    margin-bottom: 0.3em;
    text-align: left;
  }

  &--label-top &__control {
    width: 100%;
  }

  &--label-right &__label {
    justify-content: flex-end;
    text-align: right;
  }

  &--label-left &__label {
    justify-content: flex-start;
    text-align: left;
  }

  @mixin asterisk {
    display: inline-block;
    font-family: get-css-var('form-asterisk-family');
    color: get-css-var('form-asterisk-color');
    content: '*';
    user-select: none;
  }

  &__item--required &__label::before {
    @include asterisk;

    margin-right: 0.3em;
  }

  &--label-top &__item--required &__label {
    &::before {
      display: none;
    }

    &::after {
      @include asterisk;

      margin-left: 0.3em;
    }
  }

  &__error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 3px;
    color: get-css-var('form-tip-color');
    white-space: nowrap;
    user-select: none;
  }
}
