@use 'sass:map';
@use './shared' as *;
@use './design' as *;

$full-screen: () !default;
$full-screen: map.merge(
  (
    z-index: get-css-var(z-index-full),
    inset: 0,
    width: 100vw,
    height: 100vh
  ),
  $full-screen
);

.#{$namespace}-full-screen {
  &-vars {
    @include define-preset-values('full-screen', $full-screen);
  }

  @include basis;
  @include inherit-color;

  &--full {
    position: fixed !important;
    inset: get-css-var(full-screen-inset) !important;
    z-index: get-css-var(full-screen-z-index) !important;
    width: get-css-var(full-screen-width) !important;
    height: get-css-var(full-screen-height) !important;
  }
}
