@use 'sass:map';
@use 'sass:meta';

@use '../design' as *;

.vxp-grid {
  @include basis;

  position: relative;
  display: grid;

  &--dense {
    grid-auto-flow: row dense;
  }

  &--start {
    justify-content: start;
  }

  &--end {
    justify-content: end;
  }

  &--center {
    justify-content: center;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-evenly {
    justify-content: space-evenly;
  }

  &--top {
    align-items: start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: end;
  }
}
