@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$highlight: () !default;
$highlight: map.merge(
  (
    color: get-css-var('color-warning-base'),
    bg-color: transparent
  ),
  $highlight
);

.#{$namespace}-highlight {
  &-vars {
    @include define-preset-values('highlight', $highlight);
  }

  @include basis;
  @include inherit-color;

  &__key-word {
    padding: 0 1px;
    margin: 0 1px;
    color: get-css-var('highlight-color');
    text-indent: 0;
    background-color: get-css-var('highlight-bg-color');
  }
}
