@use './design' as *;

.vxp-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  transition: get-css-var('transition-transform');
  transform-origin: 50% 50%;

  svg {
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: -0.125em;
    fill: currentcolor;
  }

  &--flip-horizontal svg {
    transform: scale(-1, 1);
  }

  &--flip-vertical svg {
    transform: scale(1, -1);
  }

  &--flip-both svg {
    transform: scale(-1, -1);
  }

  &--spin-in svg {
    animation: vxp-spin-in 1s 0s infinite linear;
  }

  &--spin-out svg {
    animation: vxp-spin-out 1s 0s infinite linear;
  }

  &--pulse-in svg {
    animation: vxp-spin-in 1s infinite steps(8);
  }

  &--pulse-out svg {
    animation: vxp-spin-out 1s infinite steps(8);
  }
}
