@use 'sass:map';

@use './design' as *;
@use './icon.scss';
@use './tooltip.scss';

$menu: () !default;
$menu: map.merge(
  (
    bg-color: transparent,
    bg-color-selected: get-css-var('color-primary-opacity-8'),
    b-color: get-css-var('border-color-light-2'),
    d-color: get-css-var('border-color-light-1'),
    o-color: get-css-var('color-primary-opacity-6'),
    icon-color: get-css-var('content-color-secondary'),
    arrow-color: get-css-var('menu-icon-color'),
    label-color: get-css-var('content-color-base'),
    label-color-hover: get-css-var('color-primary-base'),
    label-color-visible: get-css-var('menu-label-color-hover'),
    label-color-selected: get-css-var('menu-label-color-hover'),
    label-color-disabled: get-css-var('content-color-disabled'),
    marker-bg-color: get-css-var('color-primary-base'),
    popper-bg-color: get-css-var('bg-color-base'),
    popper-b-color: get-css-var('border-color-light-2'),
    popper-z-index: get-css-var('z-index-popper'),
    popper-radius: get-css-var('radius-base'),
    popper-s-color: get-css-var('shadow-color-base'),
    group-color: get-css-var('content-color-secondary')
  ),
  $menu
);

.#{$namespace}-menu {
  &-vars {
    @include define-preset-values('menu', $menu);
  }

  @mixin define-menu-style($style-map) {
    @include define-preset-style('menu', $style-map);
  }

  @include basis;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: get-css-var('menu-bg-color');
  border-right: get-css-var('border-shape') get-css-var('menu-b-color');
  outline: 0;
  transition: width get-css-var('transition-base'), get-css-var('transition-shadow');

  &--horizontal {
    flex-direction: row;
    width: auto;
    border-right: 0;
  }

  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }

  &--reduced {
    width: 64px;
  }

  &__popper {
    @include basis;

    z-index: get-css-var('menu-popper-z-index');
    padding: 0;
    transform-origin: 0 0 !important;

    &--drop {
      padding: 5px 0;
    }
  }

  &__item {
    padding: 0;
    list-style: none;
    background-color: transparent !important;

    & > .#{$namespace}-tooltip {
      height: 100%;

      & > .#{$namespace}-tooltip__trigger {
        display: block;
        height: 100%;
      }
    }
  }

  $self: #{&};
  $popper: #{&}__popper;
  $item: #{&}__item;
  $label: #{&}__label;
  $list: #{&}__list;

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    color: get-css-var('menu-label-color');
    cursor: pointer;
    user-select: none;
    background-color: get-css-var('menu-bg-color');
    outline: 0;
    transition:
      padding-left get-css-var('transition-base'),
      get-css-var('transition-color'),
      get-css-var('transition-background'),
      get-css-var('transition-shadow');

    &::after {
      position: absolute;
      top: 0;
      right: -1px;
      bottom: 0;
      display: block;
      width: 3px;
      content: '';
      background-color: get-css-var('menu-marker-bg-color');
      opacity: 0%;
      transition: get-css-var('transition-opacity');

      #{$popper} & {
        display: none;
      }
    }

    &--marker-left::after {
      right: auto;
      left: 0;
    }

    #{$self}--horizontal & {
      &::after {
        top: auto;
        right: 0;
        bottom: auto;
        left: 0;
        width: auto;
        height: 2px;
      }

      &--marker-top::after {
        top: 0;
      }

      &--marker-bottom::after {
        bottom: 0;
      }
    }

    &--marker-none::after {
      display: none;
    }

    &:hover,
    #{$item}--son-selected > & {
      color: get-css-var('menu-label-color-hover');

      #{$self}--horizontal &::after {
        opacity: 100%;
      }

      #{$item}--disabled &::after {
        opacity: 0%;
      }
    }

    #{$item}--selected &,
    #{$item}--group-visible > & {
      color: get-css-var('menu-label-color-visible');

      #{$self}--horizontal & {
        &::after {
          opacity: 100%;
        }
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px get-css-var('menu-o-color');
    }

    #{$item}--selected & {
      color: get-css-var('menu-label-color-selected');
      background-color: get-css-var('menu-bg-color-selected');

      &::after {
        opacity: 100%;
      }

      #{$self}--horizontal > & {
        background-color: get-css-var('menu-bg-color');
      }
    }

    #{$item}--disabled & {
      color: get-css-var('menu-label-color-disabled');
      cursor: not-allowed;
    }
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 24px;
    margin-right: 10px;
    transition: margin get-css-var('transition-base');

    #{$self}--reduced & {
      margin: 0;
    }

    #{$self}--horizontal & {
      margin-right: 6px;
    }

    #{$popper} & {
      margin-right: 2px;
      margin-left: -2px;
    }
  }

  &__title {
    display: inline-block;
    width: calc(100% - 34px);
    overflow: hidden;
    white-space: nowrap;
    opacity: 100%;
    transition: width get-css-var('transition-base'), get-css-var('transition-opacity');

    &--in-group {
      padding-right: 30px;
    }

    #{$self}--reduced & {
      width: 0;
      opacity: 0%;
    }

    #{$self}--horizontal & {
      width: auto;
    }

    #{$self}--horizontal &--in-group {
      padding-left: 12px;
    }

    #{$popper} & {
      width: auto;
      opacity: 100%;
    }

    #{$item}--no-icon & {
      width: 100%;

      #{$self}--horizontal & {
        margin-right: 0;
      }
    }
  }

  &__arrow {
    position: absolute;
    right: 22px;
    opacity: 100%;
    transition: get-css-var('transition-opacity'), get-css-var('transition-transform');

    &--visible {
      transform: rotate(180deg);
    }

    #{$self}--reduced & {
      opacity: 0%;
    }

    #{$self}--dropdown &,
    #{$label}--in-popper > & {
      right: 12px;
    }

    #{$self}--horizontal & {
      position: relative;
      right: auto;
      margin-right: 4px;
      margin-left: 6px;
      transform: rotate(0);

      &--visible {
        transform: rotate(180deg);
      }
    }

    #{$popper} & {
      right: 12px;
      opacity: 100%;
      transform: rotate(-90deg);
    }
  }

  &__list {
    padding-left: 0;
    margin: 0;

    @include clear-both;

    #{$popper} & {
      // @include basis;

      // position: relative;
      display: inline-block;
      min-width: 70px;
      padding: 5px 0;
      user-select: none;
      background-color: get-css-var('menu-popper-bg-color');
      border: get-css-var('border-shape') get-css-var('menu-popper-b-color');
      border-radius: get-css-var('menu-popper-radius');
      box-shadow: get-css-var('shadow-shape') get-css-var('menu-popper-s-color');
    }
  }

  &__rest-handler {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    cursor: pointer;
    background-color: get-css-var('menu-bg-color');
    transition: get-css-var('transition-color'), get-css-var('transition-background');

    &--selected {
      color: get-css-var('menu-label-color-hover');
    }
  }

  @at-root {
    &-group {
      @include basis;

      white-space: nowrap;
      list-style: none;
      user-select: none;

      &__label {
        position: relative;
        color: get-css-var('menu-group-color');
        background-color: get-css-var('menu-bg-color');

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 1px;
          content: '';
          background-color: get-css-var('menu-d-color');
          opacity: 0%;
          transition: get-css-var('transition-opacity');
          transform: translate(-50%, -50%);
        }
      }

      &__title {
        display: inline-block;
        padding: 8px 20px;
        font-size: get-css-var('font-size-secondary');
        transition: get-css-var('transition-opacity');

        #{$self}--horizontal & {
          display: none;
        }
      }

      &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;

        #{$self}--horizontal & {
          flex-direction: row;
          width: auto;
        }
      }

      #{$self}--reduced & {
        &__label {
          &::before {
            opacity: 100%;
          }
        }

        &__title {
          opacity: 0%;
        }
      }
    }
  }
}
