@use 'sass:map';

@use './design' as *;
@use './icon.scss';
@use './tooltip.scss';

$menu: () !default;
$menu: map.merge(
  (
    bg-color: transparent,
    bg-color-selected: get-css-var('color-primary-opacity-8'),
    bg-color-dark: get-css-var('bg-color-reverse'),
    bg-color-selected-dark: get-css-var('color-primary-base'),
    b-color: get-css-var('border-color-base'),
    // b-color-dark: transparent,
    d-color: get-css-var('border-color-light-1'),
    d-color-dark: get-css-var('border-color-light-1'),
    border: get-css-var('border-shape') get-css-var('menu-b-color'),
    icon-color: get-css-var('content-color-secondary'),
    arrow-color: get-css-var('menu-icon-color'),
    label-color-hover: get-css-var('color-primary-base'),
    label-color-visible: get-css-var('menu-label-color-hover'),
    label-color-disabled: get-css-var('content-color-disabled'),
    label-color-dark: rgba($color-white, 0.65),
    label-color-hover-dark: get-css-var('color-white'),
    label-color-visible-dark: get-css-var('menu-label-color-hover-dark'),
    label-color-disabled-dark: rgba($color-white, 0.45),
    marker-bg-color: get-css-var('color-primary-base'),
    group-bg-color-dark: get-css-var('color-black'),
    popper-bg-color: get-css-var('bg-color-base'),
    popper-bg-color-dark: get-css-var('bg-color-reverse'),
    popper-z-index: get-css-var('z-index-popper'),
    popper-radius: get-css-var('radius-base'),
    popper-shadow: get-css-var('shadow-base'),
    popper-shadow-dark: unset
  ),
  $menu
);

.vxp-menu {
  &-vars {
    @include define-preset-values('menu', $menu);
  }

  @include basis;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: get-css-var('menu-bg-color');
  border-right: get-css-var('menu-border');
  transition: width get-css-var('transition-base');

  &--horizontal {
    flex-direction: row;
    width: auto;
    border-right: 0;
  }

  &--dark {
    background-color: get-css-var('menu-bg-color-dark');
    border-right: 0;
  }

  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }

  &--reduced {
    width: 64px;
  }

  &__popper {
    @include basis;

    z-index: get-css-var('menu-popper-z-index');
    padding-left: 5px;
    transform-origin: 0 0 !important;

    &--drop {
      padding: 5px 0;
    }
  }

  &__item {
    list-style: none;

    // .vxp-tooltip__trigger

    & > .vxp-tooltip {
      height: 100%;

      & > .vxp-tooltip__trigger {
        display: block;
        height: 100%;
      }
    }
  }

  $self: #{&};
  $popper: #{&}__popper;
  $item: #{&}__item;
  $label: #{&}__label;
  $list: #{&}__list;

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    cursor: pointer;
    background-color: get-css-var('menu-bg-color');
    transition: get-css-var('transition-color'), get-css-var('transition-background');

    #{$self}--dark &,
    #{$popper} #{$list}--dark & {
      color: get-css-var('menu-label-color-dark');
      background-color: get-css-var('menu-bg-color-dark');
    }

    #{$list}--dark &:not(#{&}--in-popper) {
      background-color: get-css-var('menu-group-bg-color-dark');
    }

    &::after {
      position: absolute;
      top: 0;
      right: -1px;
      bottom: 0;
      display: block;
      width: 3px;
      content: '';
      background-color: get-css-var('menu-marker-bg-color');
      opacity: 0%;
      transition: get-css-var('transition-opacity');

      #{$self}--marker-left & {
        right: auto;
        left: 0;
      }

      #{$self}--horizontal & {
        top: auto;
        right: 0;
        bottom: auto;
        left: 0;
        width: auto;
        height: 2px;
      }

      #{$self}--marker-top & {
        top: 0;
      }

      #{$self}--marker-bottom & {
        bottom: 0;
      }

      #{$self}--marker-none &,
      #{$self}--dark &,
      #{$popper} & {
        display: none;
      }
    }

    &:hover,
    // #{$item}--selected &,
    // #{$self}--reduced #{$item}--son-selected &,
    #{$item}--son-selected > .vxp-tooltip > .vxp-tooltip__trigger > & {
      color: get-css-var('menu-label-color-hover');

      #{$self}--dark &,
      #{$popper} #{$list}--dark & {
        color: get-css-var('menu-label-color-hover-dark');
      }

      #{$self}--horizontal &::after {
        opacity: 100%;
      }
    }

    #{$item}--selected &,
    #{$item}--group-visible > .vxp-tooltip > .vxp-tooltip__trigger > & {
      color: get-css-var('menu-label-color-visible');

      #{$self}--horizontal & {
        color: get-css-var('menu-label-color-visible');

        &::after {
          opacity: 100%;
        }
      }

      #{$self}--dark &,
      #{$list}--dark & {
        color: get-css-var('menu-label-color-visible-dark');
      }

      // #{$self}--horizontal#{$self}--dark & {
      //   color: get-css-var('menu-label-color-hover-dark');
      // }
    }

    #{$item}--selected & {
      background-color: get-css-var('menu-bg-color-selected');

      &::after {
        opacity: 100%;
      }

      #{$self}--horizontal > & {
        background-color: get-css-var('menu-bg-color');
      }

      #{$self}--dark &,
      #{$list}--dark & {
        background-color: get-css-var('menu-bg-color-selected-dark');
      }

      // #{$self}--horizontal#{$self}--dark & {
      //   background-color: get-css-var('menu-bg-color-selected-dark');
      // }
    }

    #{$item}--disabled & {
      color: get-css-var('menu-label-color-disabled');
      cursor: not-allowed;

      #{$self}--dark &,
      #{$popper} #{$list}--dark & {
        color: get-css-var('menu-label-color-disabled-dark');
      }

      // &:hover {
      //   background-color: get-css-var('menu-bg-color');
      // }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    margin-right: 10px;
    transition: margin get-css-var('transition-base');

    #{$self}--reduced & {
      margin: 0;
    }

    #{$self}--horizontal & {
      margin-right: 6px;
    }
  }

  &__title {
    display: inline-block;
    width: calc(100% - 34px);
    overflow: hidden;
    white-space: nowrap;
    opacity: 100%;
    transition: width get-css-var('transition-base'), get-css-var('transition-opacity');

    #{$self}--reduced & {
      width: 0;
      opacity: 0%;
    }

    #{$self}--horizontal & {
      width: auto;
      margin-right: 8px;
    }

    #{$popper} & {
      width: auto;
      opacity: 100%;
    }

    #{$item}--no-icon & {
      width: 100%;

      #{$self}--horizontal & {
        margin-right: 0;
      }
    }
  }

  &__arrow {
    position: absolute;
    right: 1.6em;
    opacity: 100%;
    transition: get-css-var('transition-opacity'), get-css-var('transition-transform');

    &--visible {
      transform: rotate(180deg);
    }

    #{$self}--reduced & {
      opacity: 0%;
    }

    #{$self}--dropdown &,
    #{$label}--in-popper > & {
      right: 12px;
    }

    #{$self}--horizontal & {
      position: relative;
      right: auto;
      margin-right: 4px;
      margin-left: 6px;
      transform: rotate(0);

      &--visible {
        transform: rotate(180deg);
      }
    }

    #{$popper} & {
      opacity: 100%;
      transform: rotate(-90deg);
    }
  }

  &__list {
    padding-left: 0;
    margin: 0;

    @include clear-both;

    #{$self}--dark & {
      background-color: get-css-var('menu-group-bg-color-dark');
    }

    #{$popper} & {
      // @include basis;

      // position: relative;
      display: inline-block;
      min-width: 12em;
      padding: 5px 0;
      user-select: none;
      background-color: get-css-var('menu-popper-bg-color');
      border-radius: get-css-var('menu-popper-radius');
      box-shadow: get-css-var('menu-popper-shadow');

      &--dark {
        background-color: get-css-var('menu-popper-bg-color-dark');
        box-shadow: get-css-var('menu-popper-shadow-dark');
      }
    }
  }

  @at-root {
    &-group {
      @include basis;

      white-space: nowrap;
      list-style: none;
      user-select: none;

      &__title {
        position: relative;
        background-color: get-css-var('menu-bg-color');

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 1px;
          content: '';
          background-color: get-css-var('menu-d-color');
          opacity: 0%;
          transition: get-css-var('transition-opacity');
          transform: translate(-50%, -50%);
        }

        #{$self}--dark & {
          background-color: get-css-var('menu-bg-color-dark');

          &::before {
            background-color: get-css-var('menu-d-color-dark');
          }
        }
      }

      &__label {
        display: inline-block;
        padding: 5px 20px;
        font-size: get-css-var('font-size-secondary');
        transition: get-css-var('transition-opacity');

        #{$self}--horizontal & {
          display: none;
        }
      }

      &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;

        #{$self}--horizontal & {
          flex-direction: row;
          width: auto;
        }
      }

      #{$self}--reduced & {
        &__title {
          &::before {
            opacity: 100%;
          }
        }

        &__label {
          opacity: 0%;
        }
      }
    }
  }
}
