@import './scrollbar.scss';

.vxp-scroll {
  @include basis;

  position: relative;
  overflow: hidden;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    vertical-align: top;
    will-change: transform;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 140ms;
    transition-property: transform;

    &::before,
    &::after {
      display: table;
      content: '';
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--vertical &__wrapper {
    overflow-x: hidden;
  }

  &--horizontal &__wrapper {
    overflow-y: hidden;
  }

  &--both &__bar--horizontal {
    width: calc(100% - 5px);
  }

  &--both &__bar--vertical {
    height: calc(100% - 5px);
  }
}
