@use 'sass:map';

@use './design' as *;
@use './icon.scss';
@use './input.scss' as input;

.vxp-number-input {
  @include basis;
  @include input.handler;

  padding-right: 20px;

  &__plus,
  &__minus {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 50%;
    color: get-css-var('input-icon-color');
    cursor: pointer;
    user-select: none;
    border: get-css-var('input-border');
    border-width: 0;
    border-left-width: get-css-var('border-width');
    transition: get-css-var('transition-color');

    .vxp-icon {
      pointer-events: none;
    }

    &:hover {
      color: get-css-var('input-icon-color-hover');
    }

    @extend %disabled-item;
  }

  &__plus {
    top: 0;
  }

  &__minus {
    bottom: 0;
    border-top-width: 1px;
  }

  &__icon--suffix,
  &__clear {
    right: 20px;
  }
}
