@use 'sass:map';

@use './design' as *;
@use './icon.scss';
@use './input.scss' as input;

.#{$namespace}-number-input {
  @include basis;
  @include input.handler;

  padding-right: calc(get-css-var('input-h-padding') + 20px);

  // @at-root {
  //   & {
  //     padding-right: calc(get-css-var('input-h-padding') + 20px);

  //     &--action-left {
  //       padding: get-css-var('input-h-padding');
  //       padding-left: calc(get-css-var('input-h-padding') + 20px);
  //     }

  //     &--action-none {
  //       padding: get-css-var('input-h-padding');
  //     }
  //   }
  // }

  &__clear,
  &__loading {
    right: calc(get-css-var('input-h-padding') + 20px);
  }

  &__plus,
  &__minus {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 50%;
    color: get-css-var('input-icon-color');
    cursor: pointer;
    user-select: none;
    border: get-css-var('input-border');
    border-width: 0;
    border-left-width: get-css-var('border-width');
    transition: get-css-var('transition-color');

    .#{$namespace}-icon {
      pointer-events: none;
    }

    &:hover {
      color: get-css-var('input-icon-color-hover');
    }

    @extend %disabled-item;
  }

  &__plus {
    top: 0;
  }

  &__minus {
    bottom: 0;
    border-top-width: 1px;
  }

  $focused: #{&}--focused;
  $clear: #{&}__clear;
  $loading: #{&}__loading;
  $plus: #{&}__plus;
  $minus: #{&}__minus;

  $padding: get-css-var('input-v-padding') get-css-var('input-h-padding');

  &--control-fade {
    padding: $padding;
    transition:
      padding get-css-var('transition-base'),
      get-css-var('transition-background'),
      get-css-var('transition-border'),
      get-css-var('transition-shadow');

    #{$plus},
    #{$minus} {
      opacity: 0%;
      transition: get-css-var('transition-color'), get-css-var('transition-opacity');
    }

    &:hover,
    &:focus,
    &#{$focused} {
      padding-right: calc(get-css-var('input-h-padding') + 20px);

      #{$plus},
      #{$minus} {
        opacity: 100%;
      }
    }
  }

  &--control-left {
    padding: $padding;
    padding-left: calc(get-css-var('input-h-padding') + 20px);

    #{$clear},
    #{$loading} {
      right: auto;
      left: calc(get-css-var('input-h-padding') + 20px);
    }

    #{$plus},
    #{$minus} {
      right: auto;
      left: 0;
      border-right-width: get-css-var('border-width');
      border-left-width: 0;
    }
  }

  &--control-left#{&}--control-fade {
    padding: $padding;

    &:hover,
    &:focus,
    &#{$focused} {
      padding-left: calc(get-css-var('input-h-padding') + 20px);
    }
  }

  &--control-none {
    padding: $padding;

    #{$clear},
    #{$loading} {
      right: auto;
      left: auto;
    }

    #{$plus},
    #{$minus} {
      display: none;
    }
  }
}
