@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$overflow: () !default;
$overflow: map.merge((), $overflow);

.#{$namespace}-overflow {
  &-vars {
    @include define-preset-values('overflow', $overflow);
  }

  @include basis;
  @include inherit-color;

  display: flex;
  width: 100%;

  &--manual {
    flex-wrap: wrap;
  }
}
