@use 'sass:map';

@use './shared' as *;
@use './design' as *;

.#{$namespace}-popper {
  @include basis;

  position: absolute;
  z-index: get-css-var('z-index-popper');
  display: flex;
  padding: 5px 0;
}
