@use 'sass:map';

@use './shared/variables.scss' as *;
@use './design/variables.scss' as *;
@use './animation';
@use './icon.scss';

:root,
.#{$namespace}-theme-vars-base {
  @include define-theme-styles;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
