@use 'sass:map';

@use './design' as *;
@use './bubble.scss';

$progress: () !default;
$progress: map.merge(
  (
    track-bg-color: get-css-var('fill-color-humble'),
    filler-bg-color: get-css-var('color-primary-base'),
    info-color: inherit,
    info-color-inside: get-css-var('color-white'),
    info-color-bubble: inherit,
    percentage-font-size: get-css-var('font-size-secondary'),
    activated-color: rgba(#fff, 0.4),
    animation-duration: 2400ms,
    animation-timing: ease
  ),
  $progress
);

.#{$namespace}-progress {
  &-vars {
    @include define-preset-values('progress', $progress);
  }

  @include basis;

  display: inline-flex;
  align-items: center;
  width: 100%;

  &__track {
    position: relative;
    width: 100%;
    background-color: get-css-var('progress-track-bg-color');
  }

  &--info-inside &__track {
    overflow: hidden;
  }

  &__filler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: get-css-var('progress-filler-bg-color');
    will-change: transform;
    transition: get-css-var('transition-transform');
  }

  &--activated &__filler::after {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    background-color: get-css-var('progress-activated-color');
    animation:
      #{$namespace}-progress-flowing
      get-css-var('progress-animation-duration')
      get-css-var('progress-animation-timing')
      infinite;
  }

  @keyframes #{$namespace}-progress-flowing {
    0% {
      opacity: 100%;
      transform: translateX(-50%) scaleX(0);
    }

    70% {
      opacity: 0%;
      transform: translateX(0) scaleX(100%);
    }

    100% {
      opacity: 0%;
      transform: translateX(0) scaleX(100%);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-left: 8px;
    color: get-css-var('progress-info-color');
    pointer-events: none;
    transition: get-css-var('transition-transform');
  }

  &--info-inside &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    justify-content: flex-end;
    width: 100%;
    padding-right: 8px;
    margin: 0;
    color: get-css-var('progress-info-color-inside');
  }

  &--info-bubble &__info,
  &--info-bubble-top &__info,
  &--info-bubble-bottom &__info {
    min-width: auto;
    min-height: auto;
    padding: 1px 4px;
    margin: 0;
    color: get-css-var('progress-info-color-bubble');
  }

  &--info--none &__info {
    display: none;
  }

  &__percentage {
    font-size: get-css-var('progress-percentage-font-size');
    pointer-events: auto;
  }

  &__reference {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: get-css-var('transition-transform');
  }

  &__bubble {
    position: absolute;
    right: 0;
    pointer-events: auto;
    transform: translateX(50%);
  }
}
