@use 'sass:color';

@use '../design' as *;
@use './bubble.scss';

.vxp-progress {
  @include basis;

  display: inline-flex;
  align-items: center;
  width: 100%;

  &__track {
    position: relative;
    width: 100%;
    background-color: color.mix($vxp-color-black, $vxp-color-fill-background, 5%);
  }

  &--info-inside &__track {
    overflow: hidden;
  }

  &__filler {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: $vxp-color-primary;
    will-change: transform;
    transition: get-css-var('transition-transform');
  }

  &__info {
    display: flex;
    align-items: center;
    margin-left: 0.6em;
    pointer-events: none;
    transition: get-css-var('transition-transform');
  }

  &--info-inside &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    justify-content: flex-end;
    width: 100%;
    padding-right: 0.6em;
    margin: 0;
    color: $vxp-color-content-reverse;
  }

  &--info-bubble &__info,
  &--info-bubble-top &__info,
  &--info-bubble-bottom &__info {
    min-width: auto;
    min-height: auto;
    padding: 0.1em 0.3em;
    margin: 0;
  }

  &--info--none &__info {
    display: none;
  }

  &__percentage {
    font-size: $vxp-font-size-secondary;
    pointer-events: auto;
  }

  &__reference {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: transform $vxp-transition-base;
  }

  &__bubble {
    position: absolute;
    right: 0;
    pointer-events: auto;
    transform: translateX(50%);
  }
}
