@use 'sass:map';

@use '../design' as *;

$states: success, error, warning;

$radio: () !default;
$radio: map.merge(
  (
    color-border: get-css-var('border-color-base'),
    color-border-hover: get-css-var('color-primary-base'),
    color-border-checked: get-css-var('color-primary-base'),
    color-border-disabled: get-css-var('fill-color-disabled'),
    color-bg-signal: get-css-var('fill-color-base'),
    color-bg-checked-signal: get-css-var('color-primary-base'),
    color-bg-disabled-signal: get-css-var('fill-color-disabled'),
    color-border-hover-signal: get-css-var('radio-color-border-hover'),
    color-checked-label: get-css-var('color-primary-base'),
    color-disabled-label: get-css-var('content-color-disabled'),
    color-bg-disabled-button: get-css-var('fill-color-background'),
    border: get-css-var('border-appearance') get-css-var('radio-color-border'),
    signal-border: get-css-var('radio-border'),
    color-shadow-focus: get-css-var('color-primary-light-8'),
    shadow-focus: get-css-var('box-shadow-fouced') get-css-var('radio-color-shadow-focus'),
    signal-small-size: 14px,
    signal-small-inner-size: 7px,
    signal-default-size: 18px,
    signal-default-inner-size: 10px,
    signal-large-size: 22px,
    signal-large-inner-size: 13px
  ),
  $radio
);

.vxp-radio {
  &-vars {
    @include define-preset-values('radio', $radio);
  }

  @mixin define-radio-style($style-map) {
    @include define-preset-style('radio', $style-map);
  }

  @include basis;

  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 0.8em;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition:
    get-css-var('transition-background'),
    get-css-var('transition-border'),
    get-css-var('transition-box-shadow');

  &--border {
    padding: 0.6em 0.8em;
    border: get-css-var('radio-border');
    border-radius: get-css-var('border-radius-base');

    &:hover {
      border-color: get-css-var('radio-color-border-hover');
    }
  }

  &--checked#{&}--border {
    border-color: get-css-var('radio-color-border-checked');
  }

  &__signal {
    position: relative;
    display: inline-block;
    width: get-css-var('radio-signal-default-size');
    height: get-css-var('radio-signal-default-size');
    margin-right: 0.4em;
    background-color: get-css-var('radio-color-bg-signal');
    border: get-css-var('radio-signal-border');
    border-radius: 50%;
    transition: get-css-var('transition-border'), get-css-var('transition-box-shadow');

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: get-css-var('radio-signal-default-inner-size');
      height: get-css-var('radio-signal-default-inner-size');
      content: '';
      background-color: get-css-var('radio-color-bg-checked-signal');
      border-radius: 50%;
      opacity: 0%;
      transition:
        get-css-var('transition-background'),
        get-css-var('transition-opacity'),
        get-css-var('transition-transform');
      transform: translate(-50%, -50%) scale(0);
    }
  }

  &:focus-within &__signal {
    box-shadow: get-css-var('radio-shadow-focus');
  }

  @mixin small-signal {
    width: get-css-var('radio-signal-small-size');
    height: get-css-var('radio-signal-small-size');

    &::after {
      width: get-css-var('radio-signal-small-inner-size');
      height: get-css-var('radio-signal-small-inner-size');
    }
  }

  @mixin large-signal {
    width: get-css-var('radio-signal-large-size');
    height: get-css-var('radio-signal-large-size');

    &::after {
      width: get-css-var('radio-signal-large-inner-size');
      height: get-css-var('radio-signal-large-inner-size');
    }
  }

  &--small &__signal {
    @include small-signal;
  }

  &--large &__signal {
    @include large-signal;
  }

  &__label {
    transition: get-css-var('transition-color');
  }

  &:hover &__signal {
    border-color: get-css-var('radio-color-border-hover-signal');
  }

  &--checked &__signal {
    border-color: get-css-var('radio-color-border-checked');

    &::after {
      opacity: 100%;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &--checked &__label {
    color: get-css-var('radio-color-checked-label');
  }

  @each $state in $states {
    &--#{$state} {
      @include define-radio-style(
        (
          color-checked-label: 'color' $state 'base',
          color-border: 'color' $state 'base',
          color-border-hover: 'color' $state 'base',
          color-border-checked: 'color' $state 'base',
          color-bg-checked-signal: 'color' $state 'base',
          color-shadow-focus: 'color' $state 'light-8'
        )
      );
    }
  }

  &--disabled {
    cursor: not-allowed;

    &,
    &:hover {
      border-color: get-css-var('radio-color-border-disabled');
    }
  }

  &--disabled &__signal,
  &--disabled:hover &__signal {
    border-color: get-css-var('radio-color-border-disabled');

    &::after {
      background-color: get-css-var('radio-color-bg-disabled-signal');
    }
  }

  &--disabled &__label {
    color: get-css-var('radio-color-disabled-label');
  }

  &__input {
    width: 0;
    height: 0;
    margin: 0;
    pointer-events: none;
    opacity: 0%;
  }

  @at-root {
    &-group {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;

      &--vertical {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    &-group--vertical & {
      margin-right: 0;
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-group--border & {
      padding: 0.6em 0.8em;
      border: get-css-var('radio-border');
      border-radius: get-css-var('border-radius-base');

      &:hover {
        border-color: get-css-var('radio-color-border-hover');
      }

      &--checked {
        border-color: get-css-var('radio-color-border-checked');
      }
    }

    &-group--border &--disabled {
      &,
      &:hover {
        border-color: get-css-var('radio-color-border-disabled');
      }
    }

    &-group--disabled & {
      cursor: not-allowed;

      &,
      &:hover {
        border-color: get-css-var('radio-color-border-disabled');
      }

      &__signal {
        border-color: get-css-var('radio-color-border-disabled') !important;

        &::after {
          background-color: get-css-var('radio-color-bg-disabled-signal');
        }
      }

      &__label {
        color: get-css-var('radio-color-disabled-label');
      }
    }

    &-group--button & {
      position: relative;
      z-index: 0;
      padding: 0.6em 0.8em;
      margin: 0;
      border: get-css-var('radio-border');
      border-left-width: 0;
      border-radius: 0;

      &::after {
        position: absolute;
        top: 0;
        left: -1px;
        display: block;
        width: 1px;
        height: 100%;
        content: '';
        background-color: transparent;
      }

      &:hover {
        border-color: get-css-var('radio-color-border-hover');
        box-shadow: -1px 0 0 0 get-css-var('radio-color-border-hover');
      }

      &:first-child {
        border-left-width: 1px;
        border-radius: get-css-var('border-radius-base') 0 0 get-css-var('border-radius-base');
        box-shadow: none;

        &::before,
        &::after {
          content: none;
        }
      }

      &:last-child {
        border-radius: 0 get-css-var('border-radius-base') get-css-var('border-radius-base') 0;
      }

      &--checked {
        z-index: 1;
        border-color: get-css-var('radio-color-border-checked');
        box-shadow: -1px 0 0 0 get-css-var('radio-color-border-checked');
      }

      &:focus-within {
        box-shadow: -1px 0 0 0 get-css-var('radio-color-border-checked'), get-css-var('radio-shadow-focus');

        &::after {
          top: -3px;
          left: -3px;
          height: calc(100% + 6px);
          background-color: get-css-var('radio-color-shadow-focus');
          transition:
            top get-css-var('transition-base'),
            left get-css-var('transition-base'),
            height get-css-var('transition-base'),
            get-css-var('transition-background');
        }
      }

      &:focus-within:first-child {
        box-shadow: get-css-var('radio-shadow-focus');
      }

      &__signal {
        display: none;
      }
    }

    &-group--small &__signal {
      @include small-signal;
    }

    &-group--large &__signal {
      @include large-signal;
    }

    &-group--button#{&}-group--small & {
      padding: 0.4em 0.6em;
    }

    &-group--button#{&}-group--large & {
      padding: 0.8em 1em;
    }

    &-group--button#{&}-group--disabled &,
    &-group--button &--disabled {
      background-color: get-css-var('radio-color-bg-disabled-button');
      border-color: get-css-var('radio-color-border') !important;
      box-shadow: none !important;
    }

    &-group--button &--disabled#{&}--checked {
      background-color: get-css-var('radio-color-bg-disabled-button');

      .vxp-radio__label {
        color: get-css-var('radio-color-disabled-label');
      }
    }

    &-group--button#{&}-group--disabled & {
      &--checked {
        background-color: get-css-var('radio-color-bg-disabled-button');

        // .vxp-radio__label {
        //   color: get-css-var('color-content-reverse');
        // }
      }
    }
  }
}
