@use 'sass:map';

@use './design' as *;

$radio: () !default;
$radio: map.merge(
  (
    bg-color-disabled-button: get-css-var('fill-color-background'),
    b-color: get-css-var('border-color-base'),
    b-color-hover: get-css-var('color-primary-base'),
    b-color-checked: get-css-var('color-primary-base'),
    b-color-disabled: get-css-var('fill-color-disabled'),
    signal-bg-color: transparent,
    signal-bg-color-checked: get-css-var('color-primary-base'),
    signal-bg-color-disabled: get-css-var('fill-color-disabled'),
    signal-b-color-hover: get-css-var('radio-b-color-hover'),
    label-color: inherit,
    label-color-checked: get-css-var('color-primary-base'),
    label-color-disabled: get-css-var('content-color-disabled'),
    border: get-css-var('border-shape') get-css-var('radio-b-color'),
    signal-border: get-css-var('radio-border'),
    s-color-focus: get-css-var('color-primary-opacity-6'),
    shadow-focus: get-css-var('shadow-focus') get-css-var('radio-s-color-focus'),
    signal-size: 18px,
    signal-inner-size: 10px
  ),
  $radio
);

.#{$namespace}-radio {
  &-vars {
    @include define-preset-values('radio', $radio);
  }

  @mixin define-radio-style($style-map) {
    @include define-preset-style('radio', $style-map);
  }

  @include basis;

  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition:
    get-css-var('transition-background'),
    get-css-var('transition-border'),
    get-css-var('transition-shadow');

  &--border {
    padding: 8px 10px;
    border: get-css-var('radio-border');
    border-radius: get-css-var('radius-base');

    &:hover {
      border-color: get-css-var('radio-b-color-hover');
    }
  }

  &--checked#{&}--border {
    border-color: get-css-var('radio-b-color-checked');
  }

  &__signal {
    position: relative;
    display: inline-block;
    width: get-css-var('radio-signal-size');
    height: get-css-var('radio-signal-size');
    margin-right: 6px;
    background-color: get-css-var('radio-signal-bg-color');
    border: get-css-var('radio-signal-border');
    border-radius: 50%;
    transition: get-css-var('transition-border'), get-css-var('transition-shadow');

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: get-css-var('radio-signal-inner-size');
      height: get-css-var('radio-signal-inner-size');
      content: '';
      background-color: get-css-var('radio-signal-bg-color-checked');
      border-radius: 50%;
      opacity: 0%;
      transition:
        get-css-var('transition-background'),
        get-css-var('transition-opacity'),
        get-css-var('transition-transform');
      transform: translate(-50%, -50%) scale(0);
    }
  }

  &:focus-within &__signal {
    box-shadow: get-css-var('radio-shadow-focus');
  }

  @mixin small-signal {
    @include define-preset-values('radio', (
      signal-size: 14px,
      signal-inner-size: 7px
    ));
  }

  @mixin large-signal {
    @include define-preset-values('radio', (
      signal-size: 22px,
      signal-inner-size: 13px
    ));
  }

  &--small &__signal {
    @include small-signal;
  }

  &--large &__signal {
    @include large-signal;
  }

  &__label {
    color: get-css-var('radio-label-color');
    transition: get-css-var('transition-color');
  }

  &:hover &__signal {
    border-color: get-css-var('radio-signal-b-color-hover');
  }

  &--checked &__signal {
    border-color: get-css-var('radio-b-color-checked');

    &::after {
      opacity: 100%;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &--checked &__label {
    color: get-css-var('radio-label-color-checked');
  }

  $states: success, error, warning;

  @each $state in $states {
    &--#{$state} {
      @include define-radio-style(
        (
          label-color-checked: 'color' $state 'base',
          b-color: 'color' $state 'base',
          b-color-hover: 'color' $state 'base',
          b-color-checked: 'color' $state 'base',
          signal-bg-color-checked: 'color' $state 'base',
          s-color-focus: 'color' $state 'opacity-6'
        )
      );
    }
  }

  &--disabled {
    cursor: not-allowed;

    &,
    &:hover {
      border-color: get-css-var('radio-b-color-disabled');
    }
  }

  &--disabled &__signal,
  &--disabled:hover &__signal {
    border-color: get-css-var('radio-b-color-disabled');

    &::after {
      background-color: get-css-var('radio-signal-bg-color-disabled');
    }
  }

  &--disabled &__label {
    color: get-css-var('radio-label-color-disabled');
  }

  &__input {
    width: 0;
    height: 0;
    margin: 0;
    pointer-events: none;
    opacity: 0%;
  }

  @at-root {
    &-group {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;

      &--vertical {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    &-group--vertical & {
      margin-right: 0;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-group--border & {
      padding: 8px 10px;
      border: get-css-var('radio-border');
      border-radius: get-css-var('radius-base');

      &:hover {
        border-color: get-css-var('radio-b-color-hover');
      }

      &--checked {
        border-color: get-css-var('radio-b-color-checked');
      }
    }

    &-group--border &--disabled {
      &,
      &:hover {
        border-color: get-css-var('radio-b-color-disabled');
      }
    }

    &-group--disabled & {
      cursor: not-allowed;

      &,
      &:hover {
        border-color: get-css-var('radio-b-color-disabled');
      }

      &__signal {
        border-color: get-css-var('radio-b-color-disabled') !important;

        &::after {
          background-color: get-css-var('radio-signal-bg-color-disabled');
        }
      }

      &__label {
        color: get-css-var('radio-label-color-disabled');
      }
    }

    &-group--button & {
      position: relative;
      z-index: 0;
      padding: 8px 10px;
      margin: 0;
      border: get-css-var('radio-border');
      border-left-width: 0;
      border-radius: 0;

      &::after {
        position: absolute;
        top: 0;
        left: -1px;
        display: block;
        width: 1px;
        height: 100%;
        content: '';
        background-color: transparent;
      }

      &:hover {
        border-color: get-css-var('radio-b-color-hover');
        box-shadow: -1px 0 0 0 get-css-var('radio-b-color-hover');
      }

      &:first-child {
        border-left-width: 1px;
        border-radius: get-css-var('radius-base') 0 0 get-css-var('radius-base');
        box-shadow: none;

        &::before,
        &::after {
          content: none;
        }
      }

      &:last-child {
        border-radius: 0 get-css-var('radius-base') get-css-var('radius-base') 0;
      }

      &--checked {
        z-index: 1;
        border-color: get-css-var('radio-b-color-checked');
        box-shadow: -1px 0 0 0 get-css-var('radio-b-color-checked');
      }

      &:focus-within {
        box-shadow: -1px 0 0 0 get-css-var('radio-b-color-checked'), get-css-var('radio-shadow-focus');

        &::after {
          top: -3px;
          left: -3px;
          height: calc(100% + 6px);
          background-color: get-css-var('radio-s-color-focus');
          transition:
            top get-css-var('transition-base'),
            left get-css-var('transition-base'),
            height get-css-var('transition-base'),
            get-css-var('transition-background');
        }
      }

      &:focus-within:first-child {
        box-shadow: get-css-var('radio-shadow-focus');
      }

      &__signal {
        display: none;
      }
    }

    &-group--small & {
      @include small-signal;
    }

    &-group--large & {
      @include large-signal;
    }

    &-group--button#{&}-group--small & {
      padding: 6px 8px;
    }

    &-group--button#{&}-group--large & {
      padding: 10px 14px;
    }

    &-group--button#{&}-group--disabled &,
    &-group--button &--disabled {
      background-color: get-css-var('radio-bg-color-disabled-button');
      border-color: get-css-var('radio-b-color') !important;
      box-shadow: none !important;
    }

    &-group--button &--disabled#{&}--checked {
      background-color: get-css-var('radio-bg-color-disabled-button');

      .#{$namespace}-radio__label {
        color: get-css-var('radio-label-color-disabled');
      }
    }

    &-group--button#{&}-group--disabled & {
      &--checked {
        background-color: get-css-var('radio-bg-color-disabled-button');

        // .#{$namespace}-radio__label {
        //   color: get-css-var('color-content-reverse');
        // }
      }
    }
  }
}
