@use '../design' as *;
@use './scrollbar.scss';

.vxp-scroll {
  &-vars {
    @include define-css-var('scroll-move-duration', 140ms);
    @include define-css-var('scroll-move-timing', cubic-bezier(0.165, 0.84, 0.44, 1));
  }

  @include basis;

  position: relative;
  overflow: hidden;

  &--vertical &__wrapper {
    display: block;
  }

  &--horizontal &__wrapper,
  &--both &__wrapper {
    display: inline-block;
  }

  &__wrapper {
    position: relative;
    vertical-align: top;
    will-change: transform;
    transition-timing-function: get-css-var('scroll-move-timing');
    transition-duration: get-css-var('scroll-move-duration');
    transition-property: transform;

    &--scrolling,
    &--using-bar,
    &--no-ready,
    &--no-transition {
      transition-duration: 0ms;
    }

    &--no-ready {
      display: inline-block;
    }

    // 与使用 js 找到所有子元素再添加样式相比效率如何 (不太好测试) ?
    &--scrolling > * {
      pointer-events: none;
    }

    &::before,
    &::after {
      display: table;
      content: '';
    }
  }

  &--both &__bar--horizontal {
    width: calc(100% - get-css-var('scrollbar-width') + 1px);
  }

  &--both &__bar--vertical {
    height: calc(100% - get-css-var('scrollbar-width') + 1px);
  }
}
