@import './icon.scss';
@import './input.scss';
@import './option.scss';
@import './scroll.scss';

.vxp-select {
  @include basis;
  @include input-handler;

  // position: relative;
  // display: inline-block;
  // width: 100%;

  &__control,
  &__input {
    cursor: pointer;
    user-select: none;
  }

  &__control {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 2.1em;
  }

  &--small &__control {
    min-height: 1.7em;
  }

  &--large &__control {
    min-height: 2.5em;
  }

  &--multiple &__control {
    height: auto;
    padding: 0.1em 0.3em;
  }

  &__tag {
    height: 1.6em;
    margin: 0.15em 0.3em;
    margin-left: 0;
    pointer-events: auto;
    cursor: pointer;
  }

  &__control &__tag + &__tag {
    margin-left: 0;
  }

  &__placeholder {
    position: absolute;
    right: 2em;
    left: 0.6em;
    overflow: hidden;
    color: $vxp-input-color-placeholder;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
  }

  &__popper {
    z-index: $vxp-z-index-popper;
    display: flex;
    min-width: 7em;
    padding: 0.35em 0;

    .vxp-scroll__wrapper {
      width: 100%;
    }
  }

  &__list {
    display: inline-block;
    width: 100%;
    user-select: none;
    background-color: $vxp-select-color-bg-list;
    border-radius: $vxp-select-border-radius-list;
    box-shadow: $vxp-select-shadow-list;

    .vxp-scroll__wrapper {
      padding: 0.35em 0;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    &--has-check {
      .vxp-option {
        justify-content: space-between;
      }
    }
  }

  &__label {
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__check {
    color: $vxp-select-color-check;
  }

  &__arrow {
    transition: $vxp-transition-transform-base;
  }

  &--visible &__arrow {
    transform: rotate(180deg);
  }
}
