@use 'sass:map';

@use './design' as *;
@use './icon.scss';
@use './input.scss' as input;
@use './option.scss';
@use './scroll.scss';

$select: () !default;
$select: map.merge(
  (
    list-bg-color: get-css-var('bg-color-base'),
    list-b-color: get-css-var('border-color-light-2'),
    list-border: get-css-var('border-shape') get-css-var('select-list-b-color'),
    list-radius: get-css-var('radius-base'),
    list-shadow: get-css-var('shadow-base'),
    check-color: get-css-var('color-primary-base'),
    empty-color: get-css-var('content-color-placeholder')
  ),
  $select
);

.vxp-select {
  &-vars {
    @include define-preset-values('select', $select);
  }

  @include basis;
  @include input.handler;

  &__control,
  &__input {
    cursor: pointer;
    user-select: none;
  }

  &__control {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: get-css-var('input-default-height');
  }

  &--small &__control {
    min-height: get-css-var('input-small-height');
  }

  &--large &__control {
    min-height: get-css-var('input-large-height');
  }

  &--multiple &__control {
    height: auto;
    padding: 0.1em 0.3em;
  }

  &__tag {
    height: 1.6em;
    margin: 0.15em 0.3em;
    margin-left: 0;
    pointer-events: auto;
    cursor: pointer;
  }

  &__control &__tag + &__tag {
    margin-left: 0;
  }

  &__placeholder {
    position: absolute;
    right: 2em;
    left: 0.6em;
    overflow: hidden;
    color: get-css-var('input-placeholder-color');
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
  }

  &__popper {
    z-index: get-css-var('z-index-popper');
    display: flex;
    min-width: 7em;
    padding: 0.35em 0;

    .vxp-scroll__wrapper {
      width: 100%;
    }
  }

  &__list {
    display: inline-block;
    width: 100%;
    user-select: none;
    background-color: get-css-var('select-list-bg-color');
    border: get-css-var('select-list-border');
    border-radius: get-css-var('select-list-radius');
    box-shadow: get-css-var('select-list-shadow');

    .vxp-scroll__wrapper {
      padding: 0.35em 0;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    &--has-check {
      .vxp-option {
        justify-content: space-between;
      }
    }
  }

  &__label {
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__check {
    color: get-css-var('select-check-color');
  }

  // &__arrow {
  //   transition: get-css-var('transition-transform');
  // }

  &--focused &__arrow {
    transform: rotate(180deg);
  }

  &__empty {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.6em 1.2em;
    color: get-css-var('select-empty-color');
    white-space: nowrap;
    cursor: default;
    background-color: get-css-var('select-list-bg-color');
  }
}
