@use 'sass:map';

@use './design' as *;

$skeleton: () !default;
$skeleton: map.merge(
  (
    width: 100%,
    height: 1em,
    spread: 0,
    color: get-css-var('content-color-placeholder'),
    bg-color: get-css-var('fill-color-hover'),
    shine-color: rgba(125, 125, 125, 20%),
    radius: get-css-var('radius-base')
  ),
  $skeleton
);

.#{$namespace}-skeleton {
  &-vars {
    @include define-preset-values('skeleton', $skeleton);
  }

  @include basis;

  position: relative;
  display: inline-block;
  width: get-css-var('skeleton-width');
  height: get-css-var('skeleton-height');
  margin-bottom: get-css-var('skeleton-spread');
  overflow: hidden;
  color: get-css-var('skeleton-color');
  background-color: get-css-var('skeleton-bg-color');
  border-radius: get-css-var('skeleton-radius');

  &--default {
    @include define-preset-values(
      'skeleton',
      (
        height: 32px
      )
    );
  }

  &--small {
    @include define-preset-values(
      'skeleton',
      (
        height: 24px
      )
    );
  }

  &--large {
    @include define-preset-values(
      'skeleton',
      (
        height: 40px
      )
    );
  }

  &--block {
    display: block;
  }

  &--round {
    border-radius: 2000px;
  }

  &--circle {
    width: get-css-var('skeleton-height');
    border-radius: 50%;
  }

  &--image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &--image#{&}--block {
    display: flex;
  }

  @keyframes #{$namespace}-skeleton-loading {
    0% {
      transform: translate(-37.5%);
    }

    100% {
      transform: translate(37.5%);
    }
  }

  &--activated::after {
    position: absolute;
    inset: 0 -150%;
    pointer-events: none;
    content: '';
    background-image:
      linear-gradient(
        to right,
        transparent 25%,
        get-css-var('skeleton-shine-color') 37%,
        transparent 63%
      );
    animation: #{$namespace}-skeleton-loading 2000ms ease infinite;
  }

  @at-root {
    &-group {
      @include basis;
    }
  }
}
