@use 'sass:map';

@use './design' as *;
@use './tooltip.scss';

$slider: () !default;
$slider: map.merge(
  (
    track-bg-color: get-css-var('fill-color-humble'),
    track-bg-color-hover: get-css-var('fill-color-hover'),
    track-bg-color-disabled: get-css-var('slider-track-bg-color'),
    track-height: 4px,
    filler-bg-color: get-css-var('color-primary-base'),
    filler-bg-color-disabled: get-css-var('fill-color-disabled'),
    handler-size: 14px,
    handler-bg-color: get-css-var('color-white'),
    handler-b-width: 2px,
    handler-b-color: get-css-var('color-primary-base'),
    handler-b-color-disabled: get-css-var('content-color-disabled'),
    handler-s-color: get-css-var('color-primary-light-6'),
    handler-shadow: unset,
    handler-shadow-hover: unset,
    handler-shadow-focus: 0 0 4px 1px get-css-var('slider-handler-s-color'),
    handler-shadow-disabled: unset,
    handler-scale-hover: 1.25,
    handler-scale-focus: 1.25
  ),
  $slider
);

.vxp-slider {
  &-vars {
    @include define-preset-values('slider', $slider);
  }

  @mixin define-slider-style($style-map) {
    @include define-preset-style('slider', $style-map);
  }

  @include basis;

  $padding: max(0px, calc((get-css-var('slider-handler-size') - get-css-var('slider-track-height')) * 0.5));
  $margin: calc(get-css-var('slider-handler-size') * 0.5 + 1px);

  position: relative;
  display: flex;
  padding: $padding 0;
  margin: 2px $margin;
  cursor: pointer;

  &--vertical {
    display: inline-flex;
    height: 100%;
    padding: 0 $padding;
    margin: $margin 2px;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &__track {
    width: 100%;
    height: get-css-var('slider-track-height');
    background-color: get-css-var('slider-track-bg-color');
    border-radius: get-css-var('slider-track-height');
    transition: get-css-var('transition-background');
  }

  &:hover &__track {
    background-color: get-css-var('slider-track-bg-color-hover');
  }

  &--disabled &__track,
  &--disabled:hover &__track {
    background-color: get-css-var('slider-track-bg-color-disabled');
  }

  &--vertical &__track {
    width: get-css-var('slider-track-height');
    height: 100%;
  }

  &__filler {
    height: get-css-var('slider-track-height');
    background-color: get-css-var('slider-filler-bg-color');
    border-radius: get-css-var('slider-track-height');
    transition: get-css-var('transition-background');
  }

  &--disabled &__filler {
    background-color: get-css-var('slider-filler-bg-color-disabled');
  }

  $handler-size: get-css-var('slider-handler-size');

  &__trigger {
    position: absolute;
    width: $handler-size;
    height: $handler-size;
    transform: translate(-50%, -50%);

    .vxp-tooltip {
      line-height: 1;
      cursor: pointer;
      user-select: none;

      &,
      &__trigger {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__handler {
    width: $handler-size;
    height: $handler-size;
    cursor: pointer;
    background-color: get-css-var('slider-handler-bg-color');
    border: get-css-var('slider-handler-b-width') solid get-css-var('slider-handler-b-color');
    border-radius: $handler-size;
    box-shadow: get-css-var('slider-handler-shadow');
    transition: get-css-var('transition-shadow'), get-css-var('transition-transform');

    &:hover {
      box-shadow: get-css-var('slider-handler-shadow-hover');
      transform: scale(get-css-var('slider-handler-scale-hover'));
    }

    &:focus {
      box-shadow: get-css-var('slider-handler-shadow-focus');
      transform: scale(get-css-var('slider-handler-scale-focus'));
    }
  }

  &--sliding &__handler {
    box-shadow: get-css-var('slider-handler-shadow-focus');
    transform: scale(get-css-var('slider-handler-scale-focus'));
  }

  &--disabled &__handler {
    cursor: not-allowed;
    border-color: get-css-var('slider-handler-b-color-disabled');

    &,
    &:hover {
      box-shadow: get-css-var('slider-handler-shadow-disabled');
      transform: scale(1);
    }
  }

  &--disabled#{&}--sliding &__handler {
    box-shadow: get-css-var('slider-handler-shadow-disabled');
    transform: scale(1);
  }

  &__tip {
    user-select: none;
  }

  $states: success, error, warning;

  @each $state in $states {
    &--#{$state} {
      @include define-slider-style((
        filler-bg-color: 'color' $state 'base',
        handler-b-color: 'color' $state 'base',
        handler-s-color: 'color' state 'light-6'
      ));
    }
  }
}
