@use 'sass:map';

@use '../design' as *;
@use './icon.scss';

$spin: () !default;
$spin: map.merge(
  (
    z-index: get-css-var('z-index-popper'),
    mask-bg-color: get-css-var('fill-color-base'),
    icon-color: get-css-var('color-primary-base'),
    tip-color: get-css-var('color-primary-base'),
    tip-font-size: get-css-var('font-size-secondary')
  ),
  $spin
);

.vxp-spin {
  &-vars {
    @include define-preset-values('spin', $spin);
  }

  @include basis;

  position: relative;

  &--inner,
  &__loading {
    position: absolute;
    inset: 0;
    z-index: get-css-var('spin-z-index');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__mask {
    position: absolute;
    inset: 0;
    content: '';
    background-color: get-css-var('spin-mask-bg-color');
    opacity: 50%;
  }

  &__icon {
    position: relative;
    color: get-css-var('spin-icon-color');
  }

  &__tip {
    position: relative;
    padding-top: 3px;
    font-size: get-css-var('spin-tip-font-size');
    color: get-css-var('spin-tip-color');
    user-select: none;
  }
}
