@use 'sass:map';

@use './design' as *;
@use './icon.scss';

$tab-nav: () !default;
$tab-nav: map.merge(
  (
    d-color: get-css-var('border-color-base'),
    divider: get-css-var('border-shape') get-css-var('tab-nav-d-color'),
    color: get-css-var('content-color-base'),
    color-hover: get-css-var('color-primary-base'),
    color-active: get-css-var('tab-nav-color-hover'),
    color-disabled: get-css-var('content-color-disabled'),
    card-color: get-css-var('tab-nav-color'),
    card-color-hover: get-css-var('tab-nav-color-hover'),
    card-color-active: get-css-var('tab-nav-color-active'),
    card-color-disabled: get-css-var('tab-nav-color-disabled'),
    card-bg-color: get-css-var('fill-color-background'),
    card-bg-color-active: transparent,
    card-bg-color-disabled: get-css-var('tab-nav-card-bg-color'),
    card-b-color: get-css-var('border-color-base'),
    card-b-color-active: get-css-var('tab-nav-color-active'),
    card-b-color-disabled: get-css-var('tab-nav-card-b-color'),
    card-border: get-css-var('border-shape') get-css-var('tab-nav-card-b-color'),
    card-radius: get-css-var('radius-base'),
    item-pad-width: 4px,
    marker-bg-color: get-css-var('tab-nav-color-active'),
    marker-height: 2px,
    v-padding: 8px,
    h-padding: 16px
  ),
  $tab-nav
);

.#{$namespace}-tab-nav {
  &-vars {
    @include define-preset-values('tab-nav', $tab-nav);
  }

  @include basis;

  position: relative;
  background-color: transparent;
  outline: 0;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__extra {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    border-bottom: get-css-var('tab-nav-divider');

    &--suffix {
      flex: 1 0 auto;
      justify-content: flex-end;
    }
  }

  &__prefix,
  &__suffix {
    padding: get-css-var('tab-nav-v-padding') get-css-var('tab-nav-h-padding');
  }

  &__prefix {
    padding-left: 3px;
  }

  &__suffix {
    padding-right: 3px;
  }

  &__item {
    display: flex;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: get-css-var('tab-nav-v-padding') get-css-var('tab-nav-h-padding');
    color: get-css-var('tab-nav-color');
    cursor: pointer;
    user-select: none;
    border-bottom: get-css-var('tab-nav-divider');
    transition: get-css-var('transition-color');

    &:hover {
      color: get-css-var('tab-nav-color-hover');
    }

    &--active,
    &--active:hover {
      color: get-css-var('tab-nav-color-active');
    }

    &--disabled,
    &--disabled:hover {
      color: get-css-var('tab-nav-color-disabled');
      cursor: not-allowed;
    }
  }

  &--card &__content {
    color: get-css-var('tab-nav-card-color');
    background-color: get-css-var('tab-nav-card-bg-color');
    border: get-css-var('tab-nav-card-border');
    border-radius: get-css-var('tab-nav-card-radius') get-css-var('tab-nav-card-radius') 0 0;
    transition:
      get-css-var('transition-color'),
      get-css-var('transition-background'),
      get-css-var('transition-border');

    &:hover {
      color: get-css-var('tab-nav-card-color-hover');
    }

    &--active,
    &--active:hover {
      color: get-css-var('tab-nav-card-color-active');
      background-color: get-css-var('tab-nav-card-bg-color-active');
      border-color: get-css-var('tab-nav-card-b-color-active');
      border-bottom-color: transparent;
    }

    &--disabled,
    &--disabled:hover {
      color: get-css-var('tab-nav-card-color-disabled');
      background-color: get-css-var('tab-nav-card-bg-color-disabled');
      border-color: get-css-var('tab-nav-card-b-color-disabled');
    }
  }

  &__pad {
    display: none;
    width: get-css-var('tab-nav-item-pad-width');
    pointer-events: none;
    border-bottom: get-css-var('tab-nav-divider');
  }

  &--card &__pad {
    display: block;
  }

  &__item:nth-child(2) &__pad {
    display: none;
  }

  &__track {
    position: absolute;
    bottom: 0;
    width: 70px;
    pointer-events: none;
    transition: left get-css-var('transition-base'), width get-css-var('transition-base');
  }

  &__marker {
    width: 100%;
    height: get-css-var('tab-nav-marker-height');
    background-color: get-css-var('tab-nav-marker-bg-color');
  }

  &__icon {
    margin-right: 4px;
  }
}
