/* stylelint-disable declaration-property-value-disallowed-list */
@use 'sass:map';

@use './shared' as *;
@use './design' as *;
@use './button.scss';
@use './ellipsis.scss';
@use './scroll.scss';
@use './checkbox.scss';
@use './tooltip.scss';

$table: () !default;
$table: map.merge(
  (
    bg-color: get-css-var('bg-color-base'),
    b-color: get-css-var('border-color-base'),
    b-width: get-css-var('border-width'),
    b-style: get-css-var('border-style'),
    s-color: get-css-var('shadow-color-base'),
    head-bg-color: get-css-var('fill-color-humble'),
    row-bg-color: transparent,
    row-bg-color-hover: get-css-var('color-primary-opacity-8'),
    row-bg-color-stripe: get-css-var('fill-color-background'),
    row-b-color-bottom: get-css-var('border-color-light-1'),
    row-indent-width: 16px,
    row-depth: -1,
    cell-v-padding: 6px,
    cell-h-padding: 6px,
    cell-b-color-right: get-css-var('border-color-light-2'),
    expand-color: get-css-var('content-color-secondary'),
    expand-size: 20px,
    dragger-color: get-css-var('content-color-secondary'),
    dragger-size: 20px,
    tree-expand-color: get-css-var('content-color-secondary'),
    tree-expand-color-hover: get-css-var('color-primary-base'),
    tree-expand-size: 20px,
    sorter-color: get-css-var('content-color-placeholder'),
    sorter-color-hover: get-css-var('content-color-secondary'),
    sorter-color-active: get-css-var('color-primary-base'),
    filter-color: get-css-var('content-color-placeholder'),
    filter-color-hover: get-css-var('content-color-secondary'),
    filter-color-visible: get-css-var('table-filter-color-hover'),
    filter-color-active: get-css-var('color-primary-base'),
    filter-item-color-active: get-css-var('color-primary-base'),
    filter-item-bg-color: transparent,
    filter-item-bg-color-hover: get-css-var('fill-color-hover'),
    filter-item-bg-color-active: get-css-var('table-filter-item-bg-color-hover'),
    indicator-color: get-css-var('color-primary-opacity-6'),
    empty-color: get-css-var('content-color-placeholder'),
    resizer-color: get-css-var('color-primary-opacity-8')
  ),
  $table
);

.#{$namespace}-table {
  &-vars {
    @include define-preset-values('table', $table);
  }

  $border-a: get-css-var('table-b-width') get-css-var('table-b-style');

  @include basis;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  border: $border-a transparent;

  &__wrapper {
    width: 100%;

    .#{$namespace}-scroll__wrapper {
      min-width: 100%;
    }
  }

  &__head,
  &__body {
    position: relative;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    width: 100%;
    background-color: get-css-var('table-bg-color');
  }

  &__head {
    z-index: 1;
    user-select: none;
  }

  &__body-wrapper {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-bottom: $border-a get-css-var('table-b-color');
  }

  &__row-list {
    position: relative;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    width: 100%;
  }

  &__group {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;

    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      content: '';
      border-bottom: $border-a get-css-var('table-row-b-color-bottom');
    }
  }

  &__head &__group {
    &::after {
      border-bottom-color: get-css-var('table-b-color');
    }
  }

  &__body &__group {
    &:last-child {
      margin-bottom: -1px;

      &::after {
        border-bottom-color: transparent;
      }
    }
  }

  &--virtual &__group {
    flex: 0 0 auto;
  }

  &__row {
    display: inline-flex;
    flex: 0 0 auto;
    padding-bottom: 1px;
    background-color: get-css-var('table-row-bg-color');
    transition: all get-css-var('transition-base');

    &--hover {
      background-color: get-css-var('table-row-bg-color-hover') !important;
    }
  }

  &__head &__row {
    background-color: get-css-var('table-head-bg-color');
  }

  &--stripe &__row--stripe {
    background-color: get-css-var('table-row-bg-color-stripe');
  }

  &__cell,
  &__head-cell {
    position: relative;
    display: flex;
    flex: 1 0 0;
    align-items: center;
    padding: get-css-var('table-cell-v-padding') get-css-var('table-cell-h-padding');
    text-overflow: ellipsis;
    white-space: nowrap;
    border-inline-end: $border-a transparent;

    &:last-child {
      border-inline-end-width: 0;
    }

    &--center {
      justify-content: center;
      text-align: center;
    }

    &--right {
      justify-content: flex-end;
      text-align: right;
    }

    &--wrap {
      word-break: break-all;
      white-space: pre-wrap;
    }
  }

  $head: #{&}__head;
  $body: #{&}__body-wrapper;
  $row: #{&}__row;
  $group: #{&}__group;
  $cell: #{&}__cell;
  $head-cell: #{&}__head-cell;
  $fixed-active: #{&}__fixed--active;

  &--transparent {
    #{$head},
    #{$body},
    #{$row} {
      background-color: transparent;
    }
  }

  &--transparent &__body {
    background-color: transparent;
  }

  &--transparent:not(#{&}--border) {
    #{$head},
    #{$body},
    #{$group} {
      border-bottom-width: 0;
    }

    #{$group}::after {
      display: none;
    }
  }

  &--border {
    border-color: get-css-var('table-b-color');

    #{$body} {
      border-bottom-width: 0;
    }

    #{$cell},
    #{$head-cell} {
      border-inline-end-color: get-css-var('table-cell-b-color-right');
    }
  }

  &--col-resizable {
    #{$cell},
    #{$head-cell} {
      will-change: width, max-width;
      transition: width get-css-var('transition-base'), max-width get-css-var('transition-base');
    }
  }

  &--col-resizing {
    cursor: col-resize;
  }

  &__column {
    display: none;
  }

  &__selection {
    margin: 0;
  }

  &__expand,
  &__dragger,
  &__tree-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  &__expand {
    width: get-css-var('table-expand-size');
    height: get-css-var('table-expand-size');
    color: get-css-var('table-expand-color');
    transition: get-css-var('transition-transform');

    &--active {
      transform: rotate(90deg);
    }
  }

  &__dragger {
    width: get-css-var('table-dragger-size');
    height: get-css-var('table-dragger-size');
    color: get-css-var('table-dragger-color');
    cursor: grab;
    transition: get-css-var('transition-transform');
  }

  &__tree-expand {
    width: get-css-var('table-tree-expand-size');
    height: get-css-var('table-tree-expand-size');
    margin-inline-end: 6px;
    color: get-css-var('table-tree-expand-color');
    transition: get-css-var('transition-color');

    &:hover {
      color: get-css-var('table-tree-expand-color-hover');
    }

    &--hidden {
      pointer-events: none;
      visibility: hidden;
      opacity: 0%;
    }
  }

  &__pad {
    width: calc(#{get-css-var('table-row-indent-width')} * #{get-css-var('table-row-depth')});
  }

  &__sorter {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 3px;

    &--asc,
    &--desc {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7px;
      overflow: hidden;
      color: get-css-var('table-sorter-color');
      cursor: pointer;
      transition: get-css-var('transition-color');

      &:hover {
        color: get-css-var('table-sorter-color-hover');
      }
    }

    &--asc {
      height: 8px;
    }

    &--active {
      &,
      &:hover {
        color: get-css-var('table-sorter-color-active');
      }
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    margin-inline-start: 3px;
    color: get-css-var('table-filter-color');
    cursor: pointer;
    transition: get-css-var('transition-color');

    &:hover {
      color: get-css-var('table-filter-color-hover');
    }

    &--visible {
      color: get-css-var('table-filter-color-visible');
    }

    &--active {
      color: get-css-var('table-filter-color-active');
    }

    &-wrapper {
      @include basis;

      padding: {
        right: 0 !important;
        left: 0 !important;
      }

      &--multiple {
        padding-bottom: 0 !important;
      }
    }

    &-item {
      padding: 3px 14px;
      cursor: pointer;
      background-color: get-css-var('table-filter-item-bg-color');
      transition: get-css-var('transition-color'), get-css-var('transition-background');

      &:hover {
        background-color: get-css-var('table-filter-item-bg-color-hover');
      }

      &--active {
        color: get-css-var('table-filter-item-color-active');
        background-color: get-css-var('table-filter-item-bg-color-active');
      }
    }

    &-group {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 14px;

      .#{$namespace}-checkbox {
        margin-inline-end: 0;
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      min-width: 90px;
      padding: 4px 8px;
      margin-top: 8px;
      border-top: get-css-var('border-light-2');

      .#{$namespace}-button--text {
        padding: 0;
        box-shadow: none;
      }
    }
  }

  &__resizer {
    position: absolute;
    top: 0;
    inset-inline-end: -10px;
    bottom: 0;
    z-index: 1;
    width: 20px;
    cursor: col-resize;
    opacity: 0%;
  }

  &--col-resizing &__resizer {
    opacity: 0%;
  }

  &__fixed--right,
  &__fixed--left {
    position: absolute;
    top: 0;
    z-index: 1;
    transition: get-css-var('transition-shadow');
  }

  &__fixed--right {
    inset-inline-end: 0;
    border-inline-start: 0 transparent;

    &#{$fixed-active} {
      box-shadow: -2px 0 get-css-var('shadow-blur') get-css-var('table-s-color');
    }
  }

  &--border &__fixed--right {
    border-inline-start-color: $border-a get-css-var('table-cell-b-color-right');
  }

  &__fixed--left {
    inset-inline-start: 0;

    &#{$fixed-active} {
      box-shadow: 2px 0 get-css-var('shadow-blur') get-css-var('table-s-color');
    }

    #{$cell},
    #{$head-cell} {
      border-inline-end-width: get-css-var('table-border-width');
    }
  }

  &--use-y-bar &__bar--horizontal {
    inset-inline-end: 6px;
  }

  &__indicator {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 1px;
    will-change: top;
    pointer-events: none;

    &::after {
      position: absolute;
      right: 0;
      left: 0;
      height: 12px;
      content: '';
    }

    &--before::after {
      top: 0;
      background-image: linear-gradient(
        to bottom,
        #{get-css-var('table-indicator-color')},
        transparent
      );
    }

    &--after::after {
      bottom: 0;
      background-image: linear-gradient(
        to top,
        #{get-css-var('table-indicator-color')},
        transparent
      );
    }
  }

  &__resize-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    will-change: left;
    pointer-events: none;
    border-inline-start: get-css-var('border-shape') get-css-var('table-indicator-color');
  }

  &__empty {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 36px;
    padding: 6px 0;
    color: get-css-var('table-empty-color');
    white-space: nowrap;
    cursor: default;
    user-select: none;
  }
}
