.vxp-tag {
  @include basis;

  display: inline-flex;
  align-items: center;
  padding: 0 0.5em;
  background-color: $vxp-color-fill-background;
  border: $vxp-border-base;
  border-radius: $vxp-border-radius-base;
  transition: $vxp-transition-color-base, $vxp-transition-background-base;

  & + & {
    margin-left: 0.3em;
  }

  &__close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
    color: $vxp-color-content-secondary;
    cursor: pointer;
    opacity: 0.6;
    transition: $vxp-transition-opacity-base;

    &:hover {
      opacity: 1;
    }
  }

  $close: #{&}__close;

  &--primary,
  &--success,
  &--error,
  &--warning {
    color: $vxp-color-content-reverse;

    #{$close} {
      color: $vxp-color-content-reverse;
    }
  }

  $types: (
    primary: $vxp-color-primary,
    info: $vxp-color-info,
    success: $vxp-color-success,
    error: $vxp-color-error,
    warning: $vxp-color-warning
  );

  @each $type in map-keys($map: $types) {
    $color: map-get(
      $map: $types,
      $key: $type
    );

    @at-root {
      &--#{$type} {
        background-color: $color;
        border-color: $color;
      }

      &--border#{&}--#{$type} {
        color: $color;

        #{$close} {
          color: $color;
        }
      }
    }
  }

  &--border {
    background-color: transparent;
  }
}
