.vxp-textarea {
  @include basis;
  @include input-handler;

  height: auto;
  overflow: hidden;

  &__control {
    min-height: 2.1em;
    overflow: hidden;
    resize: vertical;
  }

  &--no-resize &__control {
    resize: none;
  }

  &__count {
    position: absolute;
    right: 7px;
    bottom: 2px;
    font-size: $vxp-font-size-secondary;
    pointer-events: none;
    user-select: none;
  }
}
