@use 'sass:map';

@use './shared' as *;
@use './design' as *;
@use './input.scss' as input;

$textarea: () !default;
$textarea: map.merge(
  (
    min-height: 32px,
    resize: vertical,
    count-color: get-css-var('input-count-color'),
    count-color-disabled: get-css-var('input-count-color-disabled'),
    count-font-size: get-css-var('input-count-font-size'),
    count-line-height: get-css-var('input-count-line-height')
  ),
  $textarea
);

.#{$namespace}-textarea {
  &-vars {
    @include define-preset-values('textarea', $textarea);
  }

  @include basis;
  @include input.handler;

  @at-root & {
    height: auto;
    min-height: get-css-var('textarea-min-height');
    padding: 0;
    overflow: hidden;
  }

  &__control {
    height: auto;
    padding: get-css-var('input-v-padding') get-css-var('input-h-padding');
    overflow: hidden;
    font-family: inherit;
    font-feature-settings: 'tnum';
    font-variant-numeric: inherit;
    resize: get-css-var('textarea-resize');
  }

  &--no-resize &__control {
    resize: none;
  }

  &__extra {
    position: absolute;
    inset-inline-end: 7px;
    bottom: 4px;
    display: flex;
    align-items: center;
  }

  &__loading {
    position: relative;
    inset-inline-end: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: get-css-var('input-icon-color');
    pointer-events: none;
    user-select: none;
  }

  &__count {
    margin-inline-start: 4px;
    font-size: get-css-var('textarea-count-font-size');
    line-height: get-css-var('textarea-count-line-height');
    color: get-css-var('textarea-count-color');
    pointer-events: none;
    user-select: none;
    transition: get-css-var('transition-color');
  }

  &--disabled &__count {
    color: get-css-var('textarea-count-color-disabled');
  }
}
