@use 'sass:map';

@use '../design' as *;
@use './checkbox.scss';
@use './icon.scss';

$tree: () !default;
$tree: map.merge(
  (
    label-color: inherit,
    label-color-hover: get-css-var('tree-label-color'),
    label-color-selected: get-css-var('tree-label-color-hover'),
    label-color-disabled: get-css-var('content-color-disabled'),
    label-color-readonly: get-css-var('tree-label-color'),
    label-bg-color: transparent,
    label-bg-color-hover: get-css-var('color-primary-light-8'),
    label-bg-color-selected: get-css-var('tree-label-bg-color-hover'),
    label-bg-color-disabled: get-css-var('tree-label-bg-color'),
    label-bg-color-readonly: get-css-var('tree-label-bg-color'),
    label-radius: get-css-var('border-radius-base'),
    arrow-size: 22px,
    indicator-color: get-css-var('color-primary-base')
  ),
  $tree
);

.vxp-tree {
  &-vars {
    @include define-preset-values('tree', $tree);
  }

  @include basis;

  position: relative;

  &__list,
  &__node {
    list-style: none;
  }

  &__list {
    padding: 0;
  }

  &__node {
    // margin: 0.4em 0;
    padding-top: 0.4em;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__label {
    display: inline-block;
    padding: 0 0.3em;
    color: get-css-var('tree-label-color');
    cursor: pointer;
    background-color: get-css-var('tree-label-bg-color');
    border-radius: get-css-var('tree-label-radius');
    transition: get-css-var('transition-color'), get-css-var('transition-background');

    &:hover {
      color: get-css-var('tree-label-color-hover');
      background-color: get-css-var('tree-label-bg-color-hover');
    }

    &--selected,
    &--selected:hover {
      color: get-css-var('tree-label-color-selected');
      background-color: get-css-var('tree-label-bg-color-selected');
    }

    &--disabled,
    &--disabled:hover {
      color: get-css-var('tree-label-color-disabled');
      cursor: default;
      background-color: get-css-var('tree-label-bg-color-disabled');
    }

    &--readonly,
    &--readonly:hover {
      color: get-css-var('tree-label-color-readonly');
      cursor: default;
      background-color: get-css-var('tree-label-bg-color-readonly');
    }

    &--is-floor,
    &--is-floor:hover {
      cursor: pointer;
    }
  }

  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: get-css-var('tree-arrow-size');
    height: get-css-var('tree-arrow-size');
    cursor: pointer;

    &--transparent {
      color: transparent;
    }

    &--expanded .vxp-icon {
      transform: rotate(90deg);
    }
  }

  &__checkbox {
    display: inline-flex;
    margin-right: 0.4em;
  }

  &__indicator {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    will-change: top, left;
    background-color: get-css-var('tree-indicator-color');
  }
}
