@use 'sass:map';

@use '../design' as *;
@use './button.scss';
@use './progress.scss';

$upload: () !default;
$upload: map.merge(
  (
    color-success: get-css-var('color-success-base'),
    color-fail: get-css-var('color-error-base'),
    color-loading: get-css-var('content-color-disabled'),
    pane-bg-color: get-css-var('fill=color-base'),
    pane-border-width: get-css-var('border-width'),
    pane-border-style: dashed,
    pane-border-color: get-css-var('border-color-base'),
    pane-border-color-hover: get-css-var('color-primary-base'),
    pane-border-color-over: get-css-var('color-primary-base'),
    pane-border-radius: get-css-var('border-radius-base'),
    cloud-color: get-css-var('content-color-secondary'),
    cloud-color-over: get-css-var('color-primary-base'),
    file-bg-color: transparent,
    file-bg-color-hover: get-css-var('fill-color-hover'),
    file-border-color: get-css-var('border-color-base'),
    file-border-color-success: get-css-var('color-success-base'),
    file-border-color-fail: get-css-var('color-error-base'),
    file-border: get-css-var('border-appearance') get-css-var('upload-file-border-color'),
    file-border-radius: get-css-var('border-radius-base'),
    thumbnail-color: get-css-var('content-color-secondary'),
    mask-bg-color: get-css-var('color-black'),
    mask-opacity: 45%,
    action-color: get-css-var('content-color-secondary'),
    action-color-hover: get-css-var('content-color-base'),
    action-color-disabled: get-css-var('content-color-disabled'),
    action-color-light: get-css-var('content-color-placeholder'),
    action-color-reverse: get-css-var('content-color-reverse'),
    percentage-color: get-css-var('content-color-secondary')
  ),
  $upload
);

.vxp-upload {
  &-vars {
    @include define-preset-values('upload', $upload);
  }

  @include basis;

  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  &--to-add {
    flex-direction: column-reverse;
  }

  &--block {
    width: 100%;
  }

  &__input {
    display: none;
  }

  &__control {
    display: flex;
    flex-direction: column;
  }

  &--drag,
  &--drag &__control {
    width: 100%;
  }

  &__drag-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.6em;
    overflow: hidden;
    cursor: pointer;
    background-color: get-css-var('upload-pane-bg-color');
    border: get-css-var('upload-pane-border-width') get-css-var('upload-pane-border-style') get-css-var('upload-pane-border-color');
    border-radius: get-css-var('upload-pane-border-radius');
    transition: get-css-var('transition-border');

    &:hover {
      border-color: get-css-var('upload-pane-border-color-hover');
    }
  }

  &--drag-only &__drag-pane {
    cursor: auto;
  }

  &__control--drag-over &__drag-pane {
    border-color: get-css-var('upload-pane-border-color-over');
  }

  &__cloud {
    color: get-css-var('upload-cloud-color');
  }

  &__control--drag-over &__cloud {
    color: get-css-var('upload-cloud-color-over');
  }

  &__drag-pane &__tip {
    user-select: none;
  }

  &__files {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__file {
    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    list-style: none;
    border-radius: get-css-var('upload-file-border-radius');
    transition: get-css-var('transition-transform'), get-css-var('transition-opacity');

    &--name {
      justify-content: space-between;
      width: 100%;
      padding: 0.2em 0.5em;
      margin-bottom: 0.2em;
      background-color: get-css-var('upload-file-bg-color');
      transition: get-css-var('transition-background');

      &:hover {
        background-color: get-css-var('upload-file-bg-color-hover');
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--thumbnail,
    &--card {
      padding: 0.5em;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      border: get-css-var('upload-file-border');
      transition: get-css-var('transition-border');
    }

    &--thumbnail &--success,
    &--card &--success {
      border-color: get-css-var('upload-file-border-color-success');
    }

    &--thumbnail &--fail,
    &--card &--fail {
      border-color: get-css-var('upload-file-border-color-fail');
    }

    &--card {
      width: 100%;
    }
  }

  &__filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: get-css-var('transition-color');
  }

  &__file--success &__filename {
    color: get-css-var('upload-success-color');
  }

  &__file--fail &__filename {
    color: get-css-var('upload-fail-color');
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 1em;
    user-select: none;
  }

  &__card {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__file--thumbnail &__card {
    justify-content: center;
    width: 5em;
    height: 5em;
  }

  &__file--card &__card {
    width: 100%;
  }

  &__thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;

    &,
    .vxp-icon {
      color: get-css-var('upload-thumbnail-color');
    }
  }

  &__file--thumbnail &__thumbnail {
    width: 100%;
    height: 100%;
  }

  &__file--card &__thumbnail {
    width: 4em;
    height: 4em;
    margin-right: 1em;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 5em);
    padding-right: 5em;
  }

  &__file--card &__filename {
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    user-select: none;
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__file--thumbnail &__actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: get-css-var('transition-opacity');
  }

  &__file--thumbnail &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: get-css-var('upload-mask-bg-color');
    opacity: get-css-var('upload-mask-opacity');
  }

  &__card:hover &__actions {
    opacity: 100%;
  }

  &__file--card &__actions {
    position: absolute;
    right: 0;
  }

  &__action {
    position: relative;
    margin: 0 0.3em;
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;

      &,
      .vxp-icon {
        color: get-css-var('upload-action-color-disabled') !important;
      }
    }
  }

  &__file--thumbnail &__action {
    &,
    .vxp-icon {
      color: get-css-var('upload-action-color-light');

      &:hover {
        color: get-css-var('upload-action-color-reverse');
      }
    }
  }

  &__file--card &__action {
    &,
    .vxp-icon {
      color: get-css-var('upload-action-color');

      &:hover {
        color: get-css-var('upload-action-color-hover');
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: get-css-var('transition-color');
  }

  &__file-icon {
    width: 1.2em;
    margin-right: 0.3em;
  }

  &__success,
  &__fail,
  &__loading,
  &__close {
    width: 1em;
  }

  &__close {
    position: absolute;
    right: 0;
    cursor: pointer;

    &,
    .vxp-icon {
      color: transparent;
    }
  }

  &__file:hover &__success,
  &__file:hover &__fail,
  &__file:hover &__loading {
    &,
    .vxp-icon {
      color: transparent;
    }
  }

  &__file:hover &__close {
    &,
    .vxp-icon {
      color: get-css-var('upload-action-color');
    }

    &:hover {
      &,
      .vxp-icon {
        color: get-css-var('upload-action-color-hover');
      }
    }
  }

  &__success {
    &,
    .vxp-icon {
      color: get-css-var('upload-success-color');
    }
  }

  &__fail {
    &,
    .vxp-icon {
      color: get-css-var('upload-fail-color');
    }
  }

  &__loading {
    &,
    .vxp-icon {
      color: get-css-var('upload-loading-color');
    }
  }

  &__progress {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  &__file--name &__progress {
    position: absolute;
    right: 0.5em;
    bottom: 0;
    left: 0.5em;
  }

  &__file--thumbnail &__progress {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }

  &__file--card &__progress {
    padding-top: 0.3em;
  }

  &__percentage {
    color: get-css-var('upload-percentage-color');
  }

  // list transition group class names
  &-list-transition {
    &-enter,
    &-leave-to {
      opacity: 0%;
      transform: scale(0.35);
    }

    &-leave-active {
      position: absolute !important;
    }
  }
}
