@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$video: () !default;
$video: map.merge(
  (
    control-color: #fff,
    control-bg-color: rgba(#000, 60%),
    control-radius: get-css-var('radius-small'),
    control-shadow: get-css-var('shadow-shape') #000,
    timer-radius: get-css-var('radius-small')
  ),
  $video
);

.#{$namespace}-video {
  &-vars {
    @include define-preset-values('video', $video);
  }

  @include basis;

  position: relative;
  width: 100%;
  height: 100%;

  &__player {
    width: 100%;
    height: 100%;
  }

  &__controls {
    position: absolute;
    inset: auto 0 0;
    display: flex;
    gap: 0 10px;
    align-items: center;
    height: 40px;
    background-color: rgba(#000, 60%);

    &-left,
    &-center,
    &-right {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      height: 100%;
    }

    &-left {
      padding-inline-start: 10px;
    }

    &-center {
      flex: auto;
    }

    &-right {
      padding-inline-end: 10px;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 100%;
    line-height: 1;
    color: get-css-var('video-control-color');

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0;
      color: get-css-var('video-control-color');
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: 0;
    }

    &-tip,
    &-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px 0;
      color: get-css-var('video-control-color');
      background-color: get-css-var('video-control-bg-color');
      border-radius: get-css-var('video-control-radius');
      box-shadow: get-css-var('video-control-shadow');
    }

    &-tip {
      padding: 6px 10px;
      line-height: 1;
      white-space: nowrap;
    }
  }

  &__timer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    &-input {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      overflow: hidden;
      color: inherit;
      background-color: rgba(#fff, 30%);
      border-radius: get-css-var('video-timer-radius');

      .#{$namespace}-input__control {
        color: inherit;
        text-align: center;
        user-select: auto;
        background-color: transparent;
        border: 0;
        outline: 0;
      }
    }

    &-separator {
      margin: 0 1px;
    }
  }

  &__volume {
    &-panel {
      width: 40px;
      height: 140px;
      padding: 6px 0;
    }

    &-text {
      flex-shrink: 0;
      padding: 2px 0 4px;
    }

    &-slider {
      @include define-preset-values(
        'slider',
        (
          handler-size: 14px,
          handler-scale-hover: 1,
          handler-scale-focus: 1
        )
      );

      width: auto;
    }
  }
}
