@use 'sass:map';

@use './design' as *;
@use './icon.scss';
@use './scroll.scss';

$wheel: () !default;
$wheel: map.merge(
  (
    item-v-padding: 3px,
    item-h-padding: 8px,
    arrow-color: get-css-var('content-color-secondary'),
    arrow-color-hover: get-css-var('content-color-base'),
    arrow-color-disabled: get-css-var('content-color-disabled'),
    arrow-size: 15px,
    mask-bg-color: get-css-var('fill-color-base'),
    mask-opacity: 40%,
    mask-b-color: get-css-var('border-color-dark-1'),
    mask-b-width: get-css-var('border-width'),
    mask-b-style: get-css-var('border-style')
  ),
  $wheel
);

.vxp-wheel {
  &-vars {
    @include define-preset-values('wheel', $wheel);
  }

  @include basis;

  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &--horizontal {
    flex-direction: row;
  }

  &__scroll {
    position: relative;
    user-select: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 0;
  }

  &--horizontal &__list {
    flex-direction: row;
  }

  &__item {
    display: inline-block;
    padding: get-css-var('wheel-item-v-padding') get-css-var('wheel-item-h-padding');
    text-align: center;
    list-style: none;
  }

  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: get-css-var('wheel-arrow-size');
    color: get-css-var('wheel-arrow-color');
    cursor: pointer;
    user-select: none;
    transition: get-css-var('transition-color');

    &:hover {
      color: get-css-var('wheel-arrow-color-hover');
    }

    &--disabled {
      &,
      &:hover {
        color: get-css-var('wheel-arrow-color-disabled');
        cursor: not-allowed;
      }
    }
  }

  &--horizontal &__arrow {
    width: get-css-var('wheel-arrow-size');
    height: 100%;
  }

  &__mask {
    position: absolute;
    pointer-events: none;
    background-color: get-css-var('wheel-mask-bg-color');
    border: 0 get-css-var('wheel-mask-b-style') get-css-var('wheel-mask-b-color');
    opacity: get-css-var('wheel-mask-opacity');
  }

  $border-width: get-css-var('wheel-mask-b-width');

  &--vertical &__mask {
    right: 0;
    left: 0;

    &--top {
      top: 0;
      border-bottom-width: $border-width;
    }

    &--bottom {
      bottom: 0;
      border-top-width: $border-width;
    }
  }

  &--horizontal &__mask {
    top: 0;
    bottom: 0;

    &--top {
      left: 0;
      border-right-width: $border-width;
    }

    &--bottom {
      right: 0;
      border-left-width: $border-width;
    }
  }
}
