@import '../mixins/basis.scss';

.#{$prefix}-date-picker {
  @include basis;

  $multiple-input: '#{$prefix}-multiple-input';
  $wheel: '#{$prefix}-wheel';

  display: inline-flex;
  flex-direction: column;
  width: 100%;
  user-select: none;

  .#{$multiple-input} {
    &__separator {
      margin: 0;
      color: $vxp-color-content-secondary;
    }
  }

  &__popper {
    z-index: $vxp-z-index-popper;
    display: flex;
    padding: 0.6em 0;
  }

  &__pane {
    display: flex;
    background-color: $vxp-color-fill;
    border-radius: $vxp-border-radius-base;
    box-shadow: $vxp-box-shadow-base;
  }

  &__list {
    display: flex;
    flex-direction: column;

    &--sub {
      padding: 0.3em 0;
      background-color: $vxp-color-fill-background;
      border-right: $vxp-border-appearance $vxp-color-border-light-2;
    }
  }

  &__shortcut {
    max-width: 7em;
    padding: 0.4em 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: $vxp-transition-background-base;

    &:hover {
      background-color: $vxp-color-fill-hover;
    }
  }

  &__input {
    text-align: center;

    .#{$multiple-input}__input {
      text-align: center;
      letter-spacing: 1px;
    }

    &--year .#{$multiple-input}__input {
      width: 2.8em;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.4em;
    border-bottom: $vxp-border-appearance $vxp-color-border-light-2;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 1em;
    color: $vxp-color-content-secondary;
    cursor: pointer;
    transform: translateY(-50%);

    &:hover {
      color: $vxp-color-primary;
    }
  }

  &__prev-year {
    left: 1em;
  }

  &__next-year {
    right: 1em;
  }

  &__prev-month {
    left: 2.2em;
  }

  &__next-month {
    right: 2.2em;
  }

  &__calendar {
    padding: 0.6em;
  }

  &__year,
  &__month {
    margin: 0 0.2em;
    cursor: pointer;
    transition: $vxp-transition-color-base;

    &:hover {
      color: $vxp-color-primary;
    }

    &-pane {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 16em;
      height: 16em;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 3.6em;
      height: 2em;
      margin: 0 0.8em;
      cursor: pointer;
      border-radius: $vxp-border-radius-base;
      transition: $vxp-transition-background-base;

      &--selected,
      &:hover {
        background-color: rgba($vxp-color-primary, 0.2);
      }
    }
  }

  &__year-item--next {
    color: $vxp-color-content-disabled;
  }

  &__time-wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    border-left: $vxp-border-appearance $vxp-color-border-light-2;

    .#{$prefix}-wheel__list {
      padding: 0 0.8em;
    }

    .#{$prefix}-time-picker__wheel {
      align-items: center;
      height: calc(100% - 2.4em);
      padding: 0;
    }
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.4em 0.6em;
    border-top: $vxp-border-appearance $vxp-color-border-light-2;
  }

  .#{$multiple-input}__input {
    &:focus,
    &--focus {
      color: $vxp-color-content-reverse;
      background-color: $vxp-color-primary-light-1;
    }
  }

  &--year &__input--year .#{$multiple-input}__separator {
    display: none;
  }

  &--month &__input--month .#{$multiple-input}__separator {
    display: none;
  }

  &--no-hour {
    .#{$wheel}:first-of-type {
      display: none;
    }
  }

  &--no-minute {
    .#{$wheel}:nth-of-type(2) {
      display: none;
    }
  }

  &--no-second {
    .#{$wheel}:last-of-type {
      display: none;
    }
  }
}
