@import '../mixins/basis.scss';

.#{$prefix}-input {
  $input: &;
  $wrapper: #{&}-wrapper;

  $radius: $vxp-input-border-radius;

  @include basis;

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.2em;
  // padding: 0.3em 0.6em;
  background-color: $vxp-input-color-bg;
  border: $vxp-input-border;
  border-radius: $radius;
  transition:
    $vxp-transition-background-base,
    $vxp-transition-border-base,
    $vxp-transition-box-shadow-base;

  &-wrapper {
    @include basis;

    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-wrapper & {
    border-radius: 0;
  }

  &-wrapper--before-only & {
    border-radius: 0 $radius $radius 0;
  }

  &-wrapper--after-only & {
    border-radius: $radius 0 0 $radius;
  }

  &:hover {
    border-color: $vxp-input-color-border-hover;
  }

  &:focus,
  &--focused {
    border-color: $vxp-input-color-border-focus;
    box-shadow: $vxp-input-shadow-focus;
  }

  &--success {
    &,
    &:hover {
      border-color: $vxp-input-color-border-success-hover;
    }
  }

  &--success:focus,
  &--success#{&}--focused {
    border-color: $vxp-input-color-border-success-focus;
    box-shadow: $vxp-input-shadow-success-focus;
  }

  &--error {
    &,
    &:hover {
      border-color: $vxp-input-color-border-error-hover;
    }
  }

  &--error:focus,
  &--error#{&}--focused {
    border-color: $vxp-input-color-border-error-focus;
    box-shadow: $vxp-input-shadow-error-focus;
  }

  &--warning {
    &,
    &:hover {
      border-color: $vxp-input-color-border-warning-hover;
    }
  }

  &--warning:focus,
  &--warning#{&}--focused {
    border-color: $vxp-input-color-border-warning-focus;
    box-shadow: $vxp-input-shadow-warning-focus;
  }

  &--disabled {
    cursor: not-allowed;
    background-color: $vxp-input-color-bg-disabled;

    &,
    &:hover,
    &:focus {
      border: $vxp-input-border;
      box-shadow: none;
    }

    %disabled-item {
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &--disabled#{&}--focused {
    border-color: $vxp-input-color-border;
    box-shadow: none;
  }

  &--number {
    padding-right: 1.4em;

    %number-suffix {
      right: 1.4em;
    }
  }

  &__control {
    width: 100%;
    // height: 2.1em;
    padding: 0.3em 0.6em;
    // padding: 0;
    line-height: $vxp-input-line-height;
    color: $vxp-input-color-control;
    background-color: transparent;
    border: 0;
    border-radius: $radius;
    outline: 0;

    &:disabled {
      cursor: not-allowed;
    }

    @extend %disabled-item;
  }

  &--small {
    height: 1.8em;
    // padding: 0.1em 0.6em;
  }

  &--large {
    height: 2.6em;
    // padding: 0.5em 0.6em;
  }

  &--small &__control {
    // height: 1.9em;
    padding: 0.1em 0.6em;
  }

  &--large &__control {
    // height: 2.5em;
    padding: 0.5em 0.8em;
  }

  &__number-plus,
  &__number-minus {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4em;
    height: 50%;
    cursor: pointer;
    user-select: none;
    border: $vxp-input-border;
    border-width: 0;
    border-left-width: $vxp-border-width;
    transition: $vxp-transition-color-base;

    &,
    .#{$prefix}-icon {
      color: $vxp-input-color-icon;
    }

    .#{$prefix}-icon {
      pointer-events: none;
    }

    &:hover {
      &,
      .#{$prefix}-icon {
        color: $vxp-input-color-icon-hover;
      }
    }

    @extend %disabled-item;
  }

  &__number-plus {
    top: 0;
  }

  &__number-minus {
    bottom: 0;
    border-top-width: 1px;
  }

  @at-root {
    %icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 100%;
      user-select: none;

      &,
      .#{$prefix}-icon {
        color: $vxp-input-color-icon;
      }

      @extend %disabled-item;
    }
  }

  &__icon {
    &--prefix {
      @extend %icon;

      left: 0;
    }

    &--suffix,
    &--password {
      @extend %icon, %number-suffix;

      right: 0;
    }

    &--password {
      cursor: pointer;
    }
  }

  &__clear {
    @extend %icon, %number-suffix;

    right: 0;
    cursor: pointer;
  }

  &__count {
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -1px;
    font-size: $vxp-input-font-size-count;
    line-height: 1;
    pointer-events: none;
    user-select: none;
    transform: translateY(-50%);
  }

  &__before,
  &__after {
    position: relative;
    display: flex;
    align-items: center;
    height: 2.2em;
    padding: 0 0.6em;
    border: $vxp-input-border;

    #{$wrapper}--small & {
      height: 1.8em;
    }

    #{$wrapper}--large & {
      height: 2.6em;
    }

    #{$input} {
      padding: 0;
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;

      &__control {
        padding: 0 !important;
      }

      &__icon {
        &--prefix,
        &--suffix {
          width: auto;
        }
      }
    }
  }

  &__before {
    background-color: $vxp-input-color-bg-before;
    border-right: 0;
    border-radius: $radius 0 0 $radius;
  }

  &__after {
    background-color: $vxp-input-color-bg-after;
    border-left: 0;
    border-radius: 0 $radius $radius 0;
  }
}
