@import '../basis/variable.scss';
@import '../mixins/basis.scss';
@import '../animation/index.scss';

.#{$prefix}-stack {
  @include basis;

  position: relative;
  display: inline-block;

  &__item {
    position: absolute;
  }
}
