@use '../variables.scss' as *;

$-name: '#{$namespace}-spin';

@mixin -start {
  transform: rotate(0deg);
}

@mixin -end {
  transform: rotate(360deg);
}

.#{$-name} {
  @at-root {
    &-enter-active {
      animation: {
        name: #{$-name}-in;
        duration: get-css-var('transition-duration');
      }
    }

    &-leave-active {
      animation: {
        name: #{$-name}-out;
        duration: get-css-var('transition-duration');
      }
    }
  }
}

@keyframes #{$-name}-in {
  0% {
    @include -start;
  }

  100% {
    @include -end;
  }
}

@keyframes #{$-name}-out {
  0% {
    @include -end;
  }

  100% {
    @include -start;
  }
}
