$-name: 'zoom';

@mixin -start {
  transform: rotate(0deg);
}

@mixin -end {
  transform: rotate(360deg);
}

.vxp-#{$-name} {
  @at-root {
    &-enter-active {
      animation: {
        name: vxp-#{$-name}-in;
        duration: 300ms;
      }
    }

    &-leave-active {
      animation: {
        name: vxp-#{$-name}-out;
        duration: 300ms;
      }
    }
  }
}

@keyframes vxp-#{$-name}-in {
  0% {
    @include -start;
  }

  100% {
    @include -end;
  }
}

@keyframes vxp-#{$-name}-out {
  0% {
    @include -end;
  }

  100% {
    @include -start;
  }
}
