@use './variables.scss' as *;

@mixin basis {
  font-size: $vxp-font-size;
  line-height: $vxp-line-height;
  color: $vxp-color-content-normal;
  vertical-align: middle;

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@mixin fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
