.components {
  &,
  &__sider,
  &__content {
    position: relative;
    height: 100%;
  }

  &__sider {
    border-right: var(--vxp-border-light-2);
  }

  &__menu {
    padding-top: 20px;
    border-right: 0;
  }

  &__tag {
    font-size: 10px;
    transform: scale(0.8);
  }

  // .doc-wrapper {
  //   padding: 1.2em 3.2em;
  //   padding-right: 13em;

  //   & > p {
  //     margin: 3px 0;
  //   }
  // }

  .toc-anchor {
    position: absolute;
    top: 50px;
    right: 11em;
    transform: translateX(100%);

    .vxp-anchor {
      font-size: 12px;
    }
  }

  .vxp-select {
    max-width: 260px;
  }

  .vxp-menu__title {
    display: flex;
    align-items: center;
  }
}
