@use 'sass:map';
@use 'sass:math';
@use './variables.scss' as *;

@mixin basis {
  font-family: get-css-var('font-family-base');
  font-size: get-css-var('font-size-base');
  font-variant-numeric: tabular-nums;
  line-height: get-css-var('line-height-base');
  color: get-css-var('content-color-base');

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@mixin inherit-basis {
  font-family: inherit;
  font-size: inherit;
  font-variant-numeric: inherit;
  line-height: inherit;
  color: inherit;
}

@mixin fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin inner-fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin clear-both {
  &::before,
  &::after {
    display: table;
    content: '';
  }
}

@mixin query-media($point) {
  @if map.has-key($break-point-map, $point) {
    @media screen and #{inspect(map.get($break-point-map, $point))} {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin around-border($border-color, $border-radius, $duration: 2000ms) {
  position: relative;

  &::before {
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    pointer-events: none;
    content: '';
    border: get-css-var('border-shape') $border-color;
    border-radius: $border-radius;
    transition: get-css-var('transition-border'), get-css-var('transition-opacity');
    animation: vxp-border-clip $duration infinite linear;
  }
}

@keyframes vxp-border-clip {
  0%,
  100% {
    clip-path: inset(0 0 calc(100% - 1px) 0);
  }

  25% {
    clip-path: inset(0 0 0 calc(100% - 1px));
  }

  50% {
    clip-path: inset(calc(100% - 1px) 0 0 0);
  }

  75% {
    clip-path: inset(0 calc(100% - 1px) 0 0);
  }
}

@mixin round-border($border-color, $duration: 2000ms) {
  position: relative;

  &::before {
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    clip-path: inset(0 0 50% 50%);
    pointer-events: none;
    content: '';
    border: get-css-var('border-shape') $border-color;
    border-radius: 50%;
    transition: get-css-var('transition-border'), get-css-var('transition-opacity');
    transform-origin: 50% 50%;
    animation: vxp-border-round $duration infinite linear;
  }
}

@keyframes vxp-border-round {
  100% {
    transform: rotate(1turn);
  }
}

@mixin h-moving-border($border-color, $duration: 2000ms) {
  position: relative;
  will-change: left, right;

  &::before {
    position: absolute;
    top: -4px;
    right: 0;
    bottom: auto;
    left: 0;
    width: auto;
    height: 0;
    content: '';
    border-top: get-css-var('border-shape') $border-color;
    transition: get-css-var('transition-border'), get-css-var('transition-opacity');
    animation: vxp-h-moving-border $duration infinite;
  }

  &::after {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -4px;
    left: 0;
    width: auto;
    height: 0;
    content: '';
    border-top: get-css-var('border-shape') $border-color;
    transition: get-css-var('transition-border'), get-css-var('transition-opacity');
    animation: vxp-h-moving-border $duration #{math.div(-$duration, 2)} infinite;
  }
}

@keyframes vxp-h-moving-border {
  0%,
  100% {
    right: 90%;
    left: 0;
  }

  25% {
    right: 25%;
    left: 25%;
  }

  50% {
    right: 0;
    left: 90%;
  }

  75% {
    right: 25%;
    left: 25%;
  }
}

@mixin v-moving-border($border-color, $duration: 2000ms) {
  position: relative;
  will-change: top, bottom;

  &::before {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: -4px;
    width: 0;
    height: auto;
    content: '';
    border-left: get-css-var('border-shape') $border-color;
    transition: get-css-var('transition-border'), get-css-var('transition-opacity');
    animation: vxp-v-moving-border $duration infinite;
  }

  &::after {
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    left: auto;
    width: 0;
    height: auto;
    content: '';
    border-left: get-css-var('border-shape') $border-color;
    transition: get-css-var('transition-border'), get-css-var('transition-opacity');
    animation: vxp-v-moving-border $duration #{math.div(-$duration, 2)} infinite;
  }
}

@keyframes vxp-v-moving-border {
  0%,
  100% {
    top: 0;
    bottom: 90%;
  }

  25% {
    top: 25%;
    bottom: 25%;
  }

  50% {
    top: 90%;
    bottom: 0;
  }

  75% {
    top: 25%;
    bottom: 25%;
  }
}
