name: Publish Package

on:
  push:
    tags:
      - v*
      - bem-helper*
      - icons*
      - hooks*
      - plugins*
      - utils*

jobs:
  publish:
    # prevents this action from running on forks
    if: github.repository == 'vexip-ui/vexip-ui'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Install deps
        run: pnpm install

      - name: Build common packages
        run: pnpm run build:common

      - name: Build BEM
        if: startsWith(github.ref_name, 'bem-helper')
        run: pnpm run build:bem

      - name: Build plugins
        if: startsWith(github.ref_name, 'plugins')
        run: pnpm run build:plugins

      - name: Build meta
        if: startsWith(github.ref_name, 'v')
        run: pnpm run build:meta
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        if: startsWith(github.ref_name, 'v')
        run: pnpm run build

      - name: Publish package
        run: pnpm run publish:ci ${{ github.ref_name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_OPTIONS: --max-old-space-size=4096
