name: Create Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    # prevents this action from running on forks
    if: github.repository == 'vexip-ui/vexip-ui'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
